In [1]:
!python --version

Python 3.8.10

In [2]:
# import required libraries
import numpy as  np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.model_selection import train_test_split,GridSearchCV,RandomizedSearchCV

### step1: Problem Statement

Prediction price of used different brands car

### step2: Data Gathering

In [3]:
df=pd.read_csv('car.csv')
df.head()

,full_name,selling_price,new_price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto Std,1.2 Lakh*,NaN,2012,Individual,"1,20,000 kms",First Owner,Petrol,Manual,Mileage19.7 kmpl,Engine796 CC,Max Power46.3 bhp,Seats5
1,Hyundai Grand i10 Asta,5.5 Lakh*,New Car (On-Road Price) : Rs.7.11-7.48 Lakh*,2016,Individual,"20,000 kms",First Owner,Petrol,Manual,Mileage18.9 kmpl,Engine1197 CC,Max Power82 bhp,Seats5
2,Hyundai i20 Asta,2.15 Lakh*,NaN,2010,Individual,"60,000 kms",First Owner,Petrol,Manual,Mileage17.0 kmpl,Engine1197 CC,Max Power80 bhp,Seats5
3,Maruti Alto K10 2010-2014 VXI,2.26 Lakh*,NaN,2012,Individual,"37,000 kms",First Owner,Petrol,Manual,Mileage20.92 kmpl,Engine998 CC,Max Power67.1 bhp,Seats5
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.7 Lakh*,New Car (On-Road Price) : Rs.10.14-13.79 Lakh*,2015,Dealer,"30,000 kms",First Owner,Diesel,Manual,Mileage22.77 kmpl,Engine1498 CC,Max Power98.59 bhp,Seats5

### step3 EDA & Feature Engineering

In [4]:
#check for data shape ,nature 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19974 entries, 0 to 19973
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   full_name          19974 non-null  object
 1   selling_price      19974 non-null  object
 2   new_price          9564 non-null   object
 3   year               19974 non-null  int64
 4   seller_type        19974 non-null  object
 5   km_driven          19974 non-null  object
 6   owner_type         19974 non-null  object
 7   fuel_type          19974 non-null  object
 8   transmission_type  19974 non-null  object
 9   mileage            19814 non-null  object
 10  engine             19864 non-null  object
 11  max_power          19637 non-null  object
 12  seats              19887 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.0+ MB

### 3.1 Full name

In [5]:
print(df['full_name'].nunique())
print(df['full_name'].unique())
print(df['full_name'].value_counts())
print(df['full_name'].isna().sum())
print(df['full_name'].dtype)

3321
['Maruti Alto Std' 'Hyundai Grand i10 Asta' 'Hyundai i20 Asta' ...
 'Tata Safari 2005-2017 DICOR 2.2 GX 4x2'
 'Ford Ecosport 2015-2021 Signature Edition Petrol BSIV'
 'Toyota Yaris V Optional CVT BSIV']
Maruti Swift Dzire VDI                 210
Maruti Alto 800 LXI                    189
Maruti Wagon R VXI                     163
Maruti Swift VDI                       150
Maruti Alto K10 VXI                    121
                                      ...
Tata Tiago 2019-2020 XM                  1
Maruti Esteem VX - BSII                  1
Hyundai Santro Xing XL eRLX Euro II      1
Honda City i DTec E                      1
Toyota Yaris V Optional CVT BSIV         1
Name: full_name, Length: 3321, dtype: int64
0
object

In [6]:
df['full_name'][0][0]

'M'

In [7]:
# here we extract only brand name from full name
brand_list=[]
for item in df['full_name']:
    var=item.split(' ')
    brand_list.append(var[0])
#     print(var[0])
#     var[1]
brand_list

['Maruti',
 'Hyundai',
 'Hyundai',
 'Maruti',
 'Ford',
 'Maruti',
 'Hyundai',
 'Maruti',
 'Hyundai',
 'Mahindra',
 'Tata',
 'Renault',
 'Maruti',
 'Nissan',
 'Hyundai',
 'Renault',
 'Mini',
 'Maruti',
 'Maruti',
 'Mercedes-Benz',
 'Maruti',
 'Toyota',
 'Maruti',
 'Maruti',
 'Fiat',
 'Volkswagen',
 'Maruti',
 'Hyundai',
 'Mahindra',
 'Honda',
 'Mahindra',
 'Maruti',
 'Maruti',
 'Honda',
 'Hyundai',
 'Toyota',
 'Renault',
 'Honda',
 'Hyundai',
 'Mahindra',
 'Maruti',
 'Mahindra',
 'Chevrolet',
 'Hyundai',
 'Hyundai',
 'Hyundai',
 'Honda',
 'Mahindra',
 'Maruti',
 'Tata',
 'Maruti',
 'Fiat',
 'Ambassador',
 'Maruti',
 'Maruti',
 'Mahindra',
 'Tata',
 'Mahindra',
 'Toyota',
 'Maruti',
 'Maruti',
 'Maruti',
 'Maruti',
 'Toyota',
 'Maruti',
 'Datsun',
 'Tata',
 'Hyundai',
 'Hyundai',
 'Maruti',
 'Tata',
 'Hyundai',
 'Hyundai',
 'Hyundai',
 'Toyota',
 'Maruti',
 'Hyundai',
 'Mahindra',
 'Volkswagen',
 'Mahindra',
 'Hyundai',
 'Mahindra',
 'Hyundai',
 'Ford',
 'Maruti',
 'Hyundai',
 'Ford',
 'Honda',
 'Maruti',
 'Mahindra',
 'Maruti',
 'Honda',
 'Renault',
 'Maruti',
 'Ford',
 'Hyundai',
 'Maruti',
 'Tata',
 'Hyundai',
 'Mahindra',
 'Volkswagen',
 'Mercedes-Benz',
 'Maruti',
 'Honda',
 'Kia',
 'Maruti',
 'Toyota',
 'Maruti',
 'Hyundai',
 'Chevrolet',
 'Ford',
 'Maruti',
 'Maruti',
 'Toyota',
 'Volkswagen',
 'Hyundai',
 'Hyundai',
 'Hyundai',
 'Maruti',
 'Ford',
 'Hyundai',
 'Renault',
 'Maruti',
 'Maruti',
 'Maruti',
 'Hyundai',
 'Nissan',
 'Hyundai',
 'Maruti',
 'Hyundai',
 'Hyundai',
 'Hyundai',
 'Hyundai',
 'Maruti',
 'Maruti',
 'Maruti',
 'Mahindra',
 'Hyundai',
 'Datsun',
 'Mahindra',
 'BMW',
 'Chevrolet',
 'Datsun',
 'Maruti',
 'Hyundai',
 'Maruti',
 'Hyundai',
 'Maruti',
 'Tata',
 'Ford',
 'Hyundai',
 'Hyundai',
 'Honda',
 'Maruti',
 'Mahindra',
 'Ford',
 'Maruti',
 'Maruti',
 'Honda',
 'Volkswagen',
 'Hyundai',
 'Mahindra',
 'Toyota',
 'Honda',
 'Tata',
 'Tata',
 'Ford',
 'Honda',
 'Mahindra',
 'Chevrolet',
 'Datsun',
 'Renault',
 'Honda',
 'Maruti',
 'Hyundai',
 'Hyundai',
 'Chevrolet',
 'Mitsubishi',
 'Maruti',
 'Tata',
 'BMW',
 'Chevrolet',
 'Kia',
 'Toyota',
 'Maruti',
 'Maruti',
 'Maruti',
 'Hyundai',
 'Hyundai',
 'Tata',
 'Maruti',
 'Maruti',
 'Tata',
 'Hyundai',
 'Honda',
 'Honda',
 'Audi',
 'Audi',
 'Ford',
 'Maruti',
 'Maruti',
 'Mahindra',
 'Tata',
 'Mahindra',
 'Maruti',
 'Maruti',
 'Tata',
 'Toyota',
 'Honda',
 'Kia',
 'Maruti',
 'Maruti',
 'Maruti',
 'Hyundai',
 'Mahindra',
 'Chevrolet',
 'Mahindra',
 'Maruti',
 'Maruti',
 'Hyundai',
 'Maruti',
 'Audi',
 'Maruti',
 'Ford',
 'Ford',
 'Tata',
 'Maruti',
 'Ford',
 'Mahindra',
 'Hyundai',
 'Maruti',
 'Maruti',
 'Hyundai',
 'Ford',
 'Maruti',
 'Honda',
 'Tata',
 'Nissan',
 'Hyundai',
 'Maruti',
 'Tata',
 'Maruti',
 'Nissan',
 'Honda',
 'Toyota',
 'Honda',
 'Hyundai',
 'Toyota',
 'Renault',
 'Maruti',
 'Datsun',
 'Maruti',
 'Hyundai',
 'Honda',
 'Maruti',
 'Mercedes-Benz',
 'Honda',
 'Toyota',
 'Maruti',
 'Nissan',
 'Maruti',
 'Maruti',
 'Maruti',
 'Honda',
 'Renault',
 'Hyundai',
 'Mahindra',
 'Maruti',
 'Maruti',
 'Mahindra',
 'Hyundai',
 'Mahindra',
 'Toyota',
 'Hyundai',
 'Mahindra',
 'Audi',
 'Honda',
 'Hyundai',
 'Maruti',
 'Mahindra',
 'Renault',
 'Tata',
 'Maruti',
 'Hyundai',
 'Renault',
 'Ford',
 'Ford',
 'Ambassador',
 'Mahindra',
 'Mahindra',
 'Hyundai',
 'Mahindra',
 'Maruti',
 'Honda',
 'Maruti',
 'Volkswagen',
 'Tata',
 'Ford',
 'Hyundai',
 'Maruti',
 'Ford',
 'Hyundai',
 'Hyundai',
 'Toyota',
 'Ford',
 'Hyundai',
 'Tata',
 'Skoda',
 'Chevrolet',
 'Volkswagen',
 'Hyundai',
 'Toyota',
 'Maruti',
 'Renault',
 'Honda',
 'Renault',
 'Fiat',
 'Maruti',
 'Land',
 'Hyundai',
 'Hyundai',
 'Maruti',
 'Tata',
 'Maruti',
 'Honda',
 'Honda',
 'Tata',
 'Maruti',
 'Maruti',
 'Volkswagen',
 'Maruti',
 'Mahindra',
 'Mahindra',
 'Hyundai',
 'Maruti',
 'Hyundai',
 'Mahindra',
 'Mahindra',
 'Honda',
 'Maruti',
 'Mahindra',
 'Hyundai',
 'Hyundai',
 'Maruti',
 'Maruti',
 'Maruti',
 'Maruti',
 'Hyundai',
 'Maruti',
 'Maruti',
 'Hyundai',
 'Hyundai',
 'Maruti',
 'Nissan',
 'Maruti',
 'Tata',
 'Ford',
 'Toyota',
 'Honda',
 'Maruti',
 'Honda',
 'Hyundai',
 'Audi',
 'Hyundai',
 'Mahindra',
 'Mahindra',
 'Mercedes-Benz',
 'Maruti',
 'Mahindra',
 'Maruti',
 'Honda',
 'Hyundai',
 'Land',
 'Mini',
 'Maruti',
 'Ford',
 'Maruti',
 'Audi',
 'Maruti',
 'Maruti',
 'Hyundai',
 'Maruti',
 'Mahindra',
 'Chevrolet',
 'Mahindra',
 'Hyundai',
 'Renault',
 'Maruti',
 'Maruti',
 'Mahindra',
 'Hyundai',
 'Hyundai',
 'Maruti',
 'Nissan',
 'Hyundai',
 'Maruti',
 'Hyundai',
 'Datsun',
 'Maruti',
 'Mahindra',
 'Chevrolet',
 'Mahindra',
 'BMW',
 'Maruti',
 'Hyundai',
 'Maruti',
 'Honda',
 'Maruti',
 'Honda',
 'Maruti',
 'Land',
 'Honda',
 'Renault',
 'Audi',
 'Honda',
 'Maruti',
 'Kia',
 'Tata',
 'Tata',
 'Renault',
 'Toyota',
 'Renault',
 'BMW',
 'Toyota',
 'Maruti',
 'Maruti',
 'Hyundai',
 'Mahindra',
 'Mahindra',
 'Ford',
 'Hyundai',
 'Hyundai',
 'Maruti',
 'Maruti',
 'Ford',
 'Hyundai',
 'Toyota',
 'Hyundai',
 'Renault',
 'Volkswagen',
 'Tata',
 'Honda',
 'Datsun',
 'Maruti',
 'Maruti',
 'Renault',
 'Jaguar',
 'Maruti',
 'Maruti',
 'Audi',
 'Maruti',
 'Mercedes-Benz',
 'Maruti',
 'Maruti',
 'Honda',
 'Mahindra',
 'Renault',
 'BMW',
 'Honda',
 'Ford',
 'Hyundai',
 'Maruti',
 'Tata',
 'Honda',
 'Mahindra',
 'Mahindra',
 'Hyundai',
 'Maruti',
 'Mercedes-Benz',
 'Maruti',
 'Hyundai',
 'Maruti',
 'Daewoo',
 'Toyota',
 'Audi',
 'Bentley',
 'MG',
 'Honda',
 'Maruti',
 'Maruti',
 'Toyota',
 'Toyota',
 'Ford',
 'Hyundai',
 'Maruti',
 'Maruti',
 'Mahindra',
 'Mahindra',
 'Honda',
 'Maruti',
 'Renault',
 'Hyundai',
 'Maruti',
 'Hyundai',
 'Toyota',
 'Toyota',
 'Hyundai',
 'Ford',
 'Volkswagen',
 'Renault',
 'Maruti',
 'Maruti',
 'Chevrolet',
 'Mercedes-Benz',
 'Maruti',
 'Hyundai',
 'Tata',
 'Maruti',
 'Toyota',
 'Maruti',
 'Maruti',
 'Toyota',
 'Nissan',
 'Maruti',
 'Renault',
 'Honda',
 'Maruti',
 'Tata',
 'Honda',
 'Maruti',
 'Mahindra',
 'Honda',
 'Hyundai',
 'Honda',
 'Hyundai',
 'Maruti',
 'Mahindra',
 'Mahindra',
 'Isuzu',
 'Maruti',
 'Honda',
 'Hyundai',
 'Maruti',
 'MG',
 'Hyundai',
 'Mercedes-Benz',
 'Maruti',
 'Maruti',
 'Maruti',
 'Hyundai',
 'Honda',
 'Maruti',
 'Hyundai',
 'Porsche',
 'Maruti',
 'BMW',
 'Hyundai',
 'Toyota',
 'Chevrolet',
 'Mahindra',
 'Maruti',
 'Maruti',
 'BMW',
 'Maruti',
 'Hyundai',
 'Maruti',
 'Renault',
 'Skoda',
 'BMW',
 'Mahindra',
 'Maruti',
 'Toyota',
 'Mercedes-Benz',
 'Audi',
 'Hyundai',
 'Hyundai',
 'Mahindra',
 'Maruti',
 'Maruti',
 'Hyundai',
 'Toyota',
 'Mahindra',
 'Maruti',
 'Skoda',
 'Ford',
 'Tata',
 'Maruti',
 'Honda',
 'Nissan',
 'Maruti',
 'Skoda',
 'Mercedes-Benz',
 'Maruti',
 'Maruti',
 'Fiat',
 'Chevrolet',
 'Hyundai',
 'Maruti',
 'Chevrolet',
 'Maruti',
 'Maruti',
 'Mahindra',
 'Hyundai',
 'Maruti',
 'Tata',
 'Maruti',
 'BMW',
 'Hyundai',
 'Maruti',
 'Honda',
 'Maruti',
 'Maruti',
 'Renault',
 'Maruti',
 'Maruti',
 'Maruti',
 'Toyota',
 'Tata',
 'Tata',
 'Honda',
 'Datsun',
 'Tata',
 'Hyundai',
 'Hyundai',
 'Mahindra',
 'Toyota',
 'Ford',
 'Hyundai',
 'Maruti',
 'Toyota',
 'Mahindra',
 'Maruti',
 'Mahindra',
 'Maruti',
 'Ford',
 'Honda',
 'Maruti',
 'Mahindra',
 'Maruti',
 'Maruti',
 'Maruti',
 'Toyota',
 'Ford',
 'Tata',
 'Tata',
 'Land',
 'Toyota',
 'Skoda',
 'Honda',
 'Hyundai',
 'Maruti',
 'Mahindra',
 'Ford',
 'Hyundai',
 'Volvo',
 'Volvo',
 'Nissan',
 'Toyota',
 'Maruti',
 'Maruti',
 'Nissan',
 'Hyundai',
 'Hyundai',
 'Hyundai',
 'Toyota',
 'Maruti',
 'Honda',
 'Hyundai',
 'Hyundai',
 'Honda',
 'Hyundai',
 'Hyundai',
 'Hyundai',
 'Toyota',
 'Honda',
 'Ford',
 'Maruti',
 'Maruti',
 'Mahindra',
 'Honda',
 'Kia',
 'Maruti',
 'Skoda',
 'Renault',
 'Hyundai',
 'Maruti',
 'Chevrolet',
 'BMW',
 'Maruti',
 'Renault',
 'Mahindra',
 'Tata',
 'Maruti',
 'Renault',
 'Maruti',
 'Mercedes-Benz',
 'Honda',
 'Maruti',
 'Mahindra',
 'Volkswagen',
 'Maruti',
 'Maruti',
 'Tata',
 'Honda',
 'Fiat',
 'Mahindra',
 'Maruti',
 'Hyundai',
 'Maruti',
 'Maruti',
 'Toyota',
 'Datsun',
 'Hyundai',
 'Mahindra',
 'Maruti',
 'Maruti',
 'Tata',
 'Mahindra',
 'Maruti',
 'Audi',
 'Renault',
 'Audi',
 'Maruti',
 'Renault',
 'Maruti',
 'Land',
 'BMW',
 'Mercedes-Benz',
 'Tata',
 'Maruti',
 'Tata',
 'Hyundai',
 'Renault',
 'Hyundai',
 'Mahindra',
 'Maruti',
 'Tata',
 'Ford',
 'Maruti',
 'Volkswagen',
 'Maruti',
 'Mahindra',
 'Mercedes-Benz',
 'Honda',
 'Maruti',
 'Hyundai',
 'Honda',
 'Honda',
 'Audi',
 'Maruti',
 'Maruti',
 'Maruti',
 'Honda',
 'Maruti',
 'Toyota',
 'Maruti',
 'Maruti',
 'Tata',
 'Maruti',
 'Honda',
 'Toyota',
 'Maruti',
 'Tata',
 'Honda',
 'Audi',
 'Maruti',
 'Tata',
 'Maruti',
 'Maruti',
 'Hyundai',
 'Mahindra',
 'Mahindra',
 'Maruti',
 'Mahindra',
 'Volkswagen',
 'Toyota',
 'Hyundai',
 'Maruti',
 'Renault',
 'BMW',
 'Toyota',
 'Hyundai',
 'Maruti',
 'Mahindra',
 'Datsun',
 'Audi',
 'Volkswagen',
 'Maruti',
 'Nissan',
 'Maruti',
 'BMW',
 'Maruti',
 'Mahindra',
 'Hyundai',
 'Mahindra',
 'Tata',
 'Maruti',
 'Renault',
 'Maruti',
 'Maruti',
 'Hyundai',
 'Maruti',
 'Maruti',
 'Honda',
 'Hyundai',
 'Maruti',
 'Jaguar',
 'Ford',
 'Datsun',
 'Mahindra',
 'Hyundai',
 'Chevrolet',
 'Honda',
 'Toyota',
 'Honda',
 'Mahindra',
 'Ford',
 'Renault',
 'Maruti',
 'Toyota',
 'Maruti',
 'Volkswagen',
 'Maruti',
 'Maruti',
 'Honda',
 'Maruti',
 'Mahindra',
 'Ford',
 'Honda',
 'Maruti',
 'Hyundai',
 'Mahindra',
 'Datsun',
 'Maruti',
 'Hyundai',
 'Lexus',
 'Maruti',
 'Hyundai',
 'Tata',
 'Maruti',
 'Maruti',
 'Jeep',
 'Maruti',
 'Hyundai',
 'Maruti',
 'Maruti',
 'Maruti',
 'Hyundai',
 'Maruti',
 'Maruti',
 'Honda',
 'Mercedes-Benz',
 'Maruti',
 'Maruti',
 'Ford',
 'Maruti',
 'Maruti',
 'Honda',
 'Toyota',
 'Hyundai',
 'Toyota',
 'Hyundai',
 'Honda',
 'Ford',
 'Honda',
 'Fiat',
 'Honda',
 'Toyota',
 'Maruti',
 'Hyundai',
 'Maruti',
 'Mahindra',
 'Chevrolet',
 'Hyundai',
 'Tata',
 'Maruti',
 'Renault',
 'Honda',
 'Hyundai',
 'Toyota',
 'Tata',
 'Chevrolet',
 'Maruti',
 'Toyota',
 'Mahindra',
 'Audi',
 'Hyundai',
 'Skoda',
 'Volkswagen',
 'BMW',
 'Tata',
 'Maruti',
 'Renault',
 'Mahindra',
 'Toyota',
 'Mahindra',
 'Hyundai',
 'Maruti',
 'Tata',
 'Tata',
 'Maruti',
 'Honda',
 'Tata',
 'Volkswagen',
 'Hyundai',
 'Toyota',
 'Datsun',
 'Mahindra',
 'Volkswagen',
 'Toyota',
 'Fiat',
 'Maruti',
 'Renault',
 'Toyota',
 'Renault',
 'Mercedes-Benz',
 'Hyundai',
 'Maruti',
 'Maruti',
 'Mahindra',
 'Audi',
 'Honda',
 'Maruti',
 'Honda',
 'Chevrolet',
 'Mahindra',
 'Maruti',
 'Maruti',
 'Mercedes-Benz',
 'Tata',
 'Maruti',
 'Hyundai',
 'Maruti',
 'Maruti',
 'Premier',
 'Hyundai',
 'Hyundai',
 'Maruti',
 'Mitsubishi',
 'Honda',
 'Maruti',
 'Mahindra',
 'Ford',
 'Nissan',
 'Tata',
 'Maruti',
 'Maruti',
 'Chevrolet',
 'Maruti',
 'Mahindra',
 'Mahindra',
 'Mercedes-Benz',
 'Mahindra',
 'Maruti',
 'Skoda',
 'Ford',
 'Maruti',
 'Tata',
 'Maruti',
 'Ford',
 'Maruti',
 'Honda',
 'Maruti',
 'Ford',
 'Volkswagen',
 'Honda',
 'BMW',
 'Mahindra',
 'Mercedes-Benz',
 'Hyundai',
 'Maruti',
 'Maruti',
 'Maruti',
 'Fiat',
 'Maruti',
 'Audi',
 'Hyundai',
 'Renault',
 'Maruti',
 'Mercedes-Benz',
 'Tata',
 'BMW',
 'Maruti',
 'Honda',
 'Honda',
 'Renault',
 'Maruti',
 'Hyundai',
 'Hyundai',
 'Ford',
 'Maruti',
 'Honda',
 'Ford',
 'Renault',
 'Mitsubishi',
 'Hyundai',
 'Toyota',
 'Honda',
 'Skoda',
 'Mahindra',
 'Tata',
 'Fiat',
 'Maruti',
 'Maruti',
 'Maruti',
 'Maruti',
 'Maruti',
 'Honda',
 'Maruti',
 'Mercedes-Benz',
 ...]

In [8]:
# here we create new feature with brand name
s1=pd.Series(brand_list)
df['brand_name']=s1
df['brand_name']

0          Maruti
1         Hyundai
2         Hyundai
3          Maruti
4            Ford
           ...
19969      Toyota
19970      Maruti
19971       Skoda
19972    Mahindra
19973       Honda
Name: brand_name, Length: 19974, dtype: object

In [9]:
df['brand_name'].nunique()
df['brand_name'].unique()

array(['Maruti', 'Hyundai', 'Ford', 'Mahindra', 'Tata', 'Renault',
       'Nissan', 'Mini', 'Mercedes-Benz', 'Toyota', 'Fiat', 'Volkswagen',
       'Honda', 'Chevrolet', 'Ambassador', 'Datsun', 'Kia', 'BMW',
       'Mitsubishi', 'Audi', 'Skoda', 'Land', 'Jaguar', 'Daewoo',
       'Bentley', 'MG', 'Isuzu', 'Porsche', 'Volvo', 'Lexus', 'Jeep',
       'Premier', 'Maserati', 'Force', 'Lamborghini', 'ISUZU', 'Ferrari',
       'OpelCorsa', 'Mercedes-AMG', 'DC', 'Rolls-Royce', 'Opel'],
      dtype=object)

In [10]:
# here we used one hot encoding for brand name
df=pd.get_dummies(df,columns=['brand_name'])
df.head()

,full_name,selling_price,new_price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,...,brand_name_OpelCorsa,brand_name_Porsche,brand_name_Premier,brand_name_Renault,brand_name_Rolls-Royce,brand_name_Skoda,brand_name_Tata,brand_name_Toyota,brand_name_Volkswagen,brand_name_Volvo
0,Maruti Alto Std,1.2 Lakh*,NaN,2012,Individual,"1,20,000 kms",First Owner,Petrol,Manual,Mileage19.7 kmpl,...,0,0,0,0,0,0,0,0,0,0
1,Hyundai Grand i10 Asta,5.5 Lakh*,New Car (On-Road Price) : Rs.7.11-7.48 Lakh*,2016,Individual,"20,000 kms",First Owner,Petrol,Manual,Mileage18.9 kmpl,...,0,0,0,0,0,0,0,0,0,0
2,Hyundai i20 Asta,2.15 Lakh*,NaN,2010,Individual,"60,000 kms",First Owner,Petrol,Manual,Mileage17.0 kmpl,...,0,0,0,0,0,0,0,0,0,0
3,Maruti Alto K10 2010-2014 VXI,2.26 Lakh*,NaN,2012,Individual,"37,000 kms",First Owner,Petrol,Manual,Mileage20.92 kmpl,...,0,0,0,0,0,0,0,0,0,0
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.7 Lakh*,New Car (On-Road Price) : Rs.10.14-13.79 Lakh*,2015,Dealer,"30,000 kms",First Owner,Diesel,Manual,Mileage22.77 kmpl,...,0,0,0,0,0,0,0,0,0,0

### 3.2 Selling Price

In [11]:
print(df['selling_price'].nunique())
print(df['selling_price'].unique())
print(df['selling_price'].value_counts())
print(df['selling_price'].isna().sum())
print(df['selling_price'].dtype)

1215
['1.2 Lakh*' '5.5 Lakh*' '2.15 Lakh*' ... '52.95 Lakh*' '16.4 Lakh*'
 '4.56 Lakh*']
4.5 Lakh*      466
3.5 Lakh*      434
5.5 Lakh*      408
6.5 Lakh*      378
4 Lakh*        359
              ...
1.17 Lakh*       1
10.64 Lakh*      1
14.72 Lakh*      1
4.27 Lakh*       1
4.56 Lakh*       1
Name: selling_price, Length: 1215, dtype: int64
0
object

In [12]:
# df['selling_price'].replace(r'[*a-zA-Z]+','',regex=True)
print(df['selling_price'].T)

0          1.2 Lakh*
1          5.5 Lakh*
2         2.15 Lakh*
3         2.26 Lakh*
4          5.7 Lakh*
            ...
19969      6.5 Lakh*
19970     9.25 Lakh*
19971     4.25 Lakh*
19972    12.25 Lakh*
19973       12 Lakh*
Name: selling_price, Length: 19974, dtype: object

In [13]:
price=[]
for item in df['selling_price']:
    var=item.split(' ')
#     print(var)
    if var[-1]=='Lakh*':
        temp=int(float(var[0])*100000)

        price.append(temp)
    elif var[-1]=='Cr*':
        temp=int(float(var[0])*10000000)
        price.append(temp)
    else:
        temp=var[0].replace(',','').replace('*','')
        price.append(int(float(temp)))
price

[120000,
 550000,
 215000,
 225999,
 570000,
 350000,
 315000,
 409999,
 1050000,
 575000,
 305000,
 1150000,
 511000,
 409999,
 425000,
 750000,
 3250000,
 650000,
 627000,
 1425000,
 425000,
 605000,
 600000,
 575000,
 260000,
 425000,
 229999,
 1225000,
 375000,
 750000,
 350000,
 600000,
 390000,
 145000,
 700000,
 1150000,
 340000,
 465000,
 125000,
 600000,
 380000,
 400000,
 300000,
 500000,
 850000,
 598000,
 700000,
 900000,
 75000,
 300000,
 409999,
 300000,
 225000,
 300000,
 590000,
 850000,
 108000,
 550000,
 325000,
 625000,
 600000,
 445000,
 530000,
 385000,
 409999,
 350000,
 265000,
 520000,
 750000,
 560000,
 200000,
 600000,
 655000,
 125000,
 425000,
 220000,
 550000,
 1150000,
 500000,
 990000,
 551000,
 1650000,
 350000,
 500000,
 575000,
 545000,
 525000,
 400000,
 155000,
 540000,
 545000,
 545000,
 240000,
 725000,
 480000,
 375000,
 225000,
 400000,
 550000,
 1050000,
 450000,
 775000,
 350000,
 550000,
 1080000,
 575000,
 950000,
 229999,
 270000,
 165000,
 130000,
 370000,
 570000,
 390000,
 365000,
 280000,
 1250000,
 590000,
 475000,
 685000,
 380000,
 330000,
 650000,
 325000,
 640000,
 949000,
 750000,
 660000,
 434999,
 385000,
 1000000,
 1250000,
 550000,
 155000,
 415000,
 250999,
 1150000,
 310000,
 350000,
 1125000,
 2600000,
 200000,
 480000,
 850000,
 1100000,
 575000,
 160000,
 340000,
 559000,
 925000,
 400000,
 560000,
 725000,
 600000,
 550000,
 585000,
 411000,
 450000,
 1290000,
 455000,
 710000,
 450000,
 465000,
 770000,
 320000,
 325000,
 2900000,
 720000,
 375000,
 145000,
 400000,
 600000,
 600000,
 270000,
 500000,
 650000,
 380000,
 728000,
 660000,
 180000,
 2089999,
 250000,
 1275000,
 455000,
 495000,
 220000,
 800000,
 1295000,
 475000,
 380000,
 900000,
 530000,
 530000,
 650000,
 495000,
 335000,
 4675000,
 1290000,
 300000,
 550000,
 390000,
 260000,
 395000,
 550000,
 650000,
 375000,
 300000,
 450000,
 335000,
 1300000,
 360000,
 505000,
 310000,
 545000,
 300000,
 200000,
 150000,
 580000,
 250000,
 650000,
 800000,
 1475000,
 409999,
 531000,
 890000,
 775000,
 434999,
 185000,
 440000,
 450000,
 600000,
 320000,
 700000,
 630000,
 320000,
 465000,
 275000,
 370000,
 550000,
 445000,
 705000,
 270000,
 420000,
 475000,
 1755000,
 350000,
 575000,
 466000,
 360000,
 275000,
 320000,
 95000,
 370000,
 250000,
 275000,
 1950000,
 550000,
 1325000,
 750000,
 290000,
 272000,
 951000,
 280000,
 545000,
 450000,
 480000,
 1060000,
 235000,
 590000,
 750000,
 71000,
 450000,
 2950000,
 110000,
 280000,
 1851000,
 750000,
 400000,
 530000,
 869999,
 295000,
 370000,
 530000,
 600000,
 350000,
 470000,
 390000,
 115999,
 919999,
 550000,
 635000,
 1250000,
 300000,
 960000,
 750000,
 249000,
 1400000,
 250000,
 610000,
 165000,
 545000,
 480000,
 395000,
 495000,
 550000,
 470000,
 200000,
 280000,
 149000,
 200000,
 699000,
 315000,
 340000,
 500000,
 1050000,
 600000,
 478000,
 491000,
 2890000,
 160000,
 985000,
 500000,
 335000,
 85000,
 950000,
 740000,
 200000,
 375000,
 810000,
 173000,
 700000,
 310000,
 850000,
 285000,
 450000,
 1100000,
 350000,
 1080000,
 530000,
 680000,
 1025000,
 650000,
 194000,
 686000,
 200000,
 250000,
 730000,
 650000,
 790000,
 620000,
 509999,
 114999,
 375000,
 525000,
 620000,
 270000,
 950000,
 1450000,
 844999,
 390000,
 395000,
 450000,
 1700000,
 325000,
 350000,
 650000,
 1250000,
 220000,
 350000,
 750000,
 299000,
 378000,
 7000000,
 1325000,
 524000,
 169000,
 500000,
 2000000,
 380000,
 400000,
 565000,
 335000,
 300000,
 200000,
 1051000,
 509999,
 370000,
 200000,
 625000,
 1290000,
 890000,
 420000,
 500000,
 750000,
 600000,
 590000,
 190000,
 500000,
 450000,
 550000,
 170000,
 650000,
 8250000,
 500000,
 500000,
 140000,
 349000,
 325000,
 434999,
 455000,
 6200000,
 755000,
 650000,
 4000000,
 250000,
 245000,
 1350000,
 215000,
 400000,
 310000,
 1235000,
 1265000,
 5500000,
 9200000,
 675000,
 500000,
 300000,
 1450000,
 530000,
 575000,
 240000,
 550000,
 500000,
 643000,
 1000000,
 611000,
 310000,
 550000,
 350000,
 300000,
 470000,
 525000,
 469000,
 210000,
 200000,
 400000,
 2150000,
 340000,
 95000,
 2050000,
 381000,
 775000,
 700000,
 675000,
 670000,
 1050000,
 315000,
 7900000,
 360000,
 400000,
 470000,
 304000,
 525000,
 490000,
 864000,
 480000,
 350000,
 575000,
 2850000,
 686000,
 55000,
 300000,
 103000,
 780000,
 3490000,
 23500000,
 1698999,
 275000,
 800000,
 680000,
 1200000,
 525000,
 955000,
 350000,
 800000,
 75000,
 825000,
 1476000,
 670000,
 180000,
 350000,
 490000,
 550000,
 350000,
 245000,
 1500000,
 250000,
 190000,
 400000,
 459999,
 650000,
 700000,
 120000,
 3850000,
 455000,
 235000,
 160000,
 365000,
 555000,
 470000,
 325000,
 2950000,
 800000,
 400000,
 550000,
 1519000,
 740000,
 125000,
 271000,
 425000,
 475000,
 325000,
 600000,
 300000,
 300000,
 345000,
 900000,
 1025000,
 1450000,
 400000,
 367000,
 535000,
 805000,
 1488000,
 250000,
 700000,
 675000,
 425000,
 260000,
 300000,
 700000,
 560000,
 155000,
 5975000,
 800000,
 750000,
 350000,
 1380000,
 265000,
 1000000,
 700000,
 229999,
 2800000,
 350000,
 400000,
 825000,
 325000,
 150000,
 1675000,
 800000,
 400000,
 1750000,
 1925000,
 1200000,
 535000,
 356000,
 550000,
 360000,
 700000,
 390000,
 1245000,
 1150000,
 180000,
 425000,
 650000,
 322000,
 400000,
 275000,
 551000,
 170000,
 235000,
 700000,
 250000,
 350000,
 550000,
 121000,
 480000,
 690000,
 370000,
 670000,
 250000,
 935000,
 1030000,
 110000,
 280000,
 277000,
 1145000,
 470000,
 370000,
 290000,
 450000,
 275000,
 450000,
 325000,
 731000,
 380000,
 750000,
 100000,
 900000,
 500000,
 330000,
 1400000,
 540000,
 370000,
 375000,
 2600000,
 725000,
 765000,
 380000,
 2625000,
 621000,
 600000,
 1130000,
 670000,
 2875000,
 350000,
 530000,
 850000,
 260000,
 245000,
 229999,
 270000,
 475000,
 750000,
 680000,
 4000000,
 380000,
 499000,
 525000,
 535000,
 484999,
 745000,
 475000,
 300000,
 3650000,
 2050000,
 325000,
 335000,
 299000,
 695000,
 300000,
 400000,
 650000,
 455000,
 500000,
 150000,
 550000,
 500000,
 365000,
 775000,
 310000,
 994999,
 190000,
 1575000,
 906000,
 785000,
 235000,
 1200000,
 470000,
 400000,
 1490000,
 535000,
 590000,
 235000,
 1250000,
 300000,
 220000,
 3011000,
 615000,
 250000,
 925000,
 470000,
 725000,
 350000,
 360000,
 2100000,
 700000,
 170000,
 1300000,
 285000,
 62000,
 550000,
 380000,
 527000,
 200000,
 396000,
 384000,
 210000,
 280000,
 500000,
 1050000,
 210000,
 425000,
 425000,
 495000,
 220000,
 218000,
 750000,
 715000,
 1800000,
 260000,
 2450000,
 350000,
 300000,
 168000,
 2500000,
 1350000,
 1400000,
 70000,
 350000,
 105000,
 480000,
 400000,
 495000,
 420000,
 531000,
 680000,
 800000,
 550000,
 465000,
 185000,
 340000,
 3100000,
 340000,
 135000,
 1225000,
 438999,
 465000,
 4470000,
 530000,
 650000,
 525000,
 885000,
 120000,
 860000,
 810000,
 409999,
 175000,
 400000,
 875000,
 1350000,
 450000,
 165000,
 700000,
 2650000,
 350000,
 400000,
 459999,
 220000,
 990000,
 950000,
 459999,
 220000,
 900000,
 575000,
 1930000,
 2250000,
 475000,
 660000,
 575000,
 625000,
 1250000,
 110000,
 425000,
 459999,
 3000000,
 200000,
 211000,
 360000,
 600000,
 1600000,
 220000,
 880000,
 240000,
 800000,
 434999,
 110000,
 450000,
 250000,
 385000,
 300000,
 400000,
 480000,
 400000,
 1351000,
 650000,
 2011000,
 880000,
 295000,
 800000,
 150000,
 85000,
 550000,
 2000000,
 325000,
 555000,
 570000,
 306000,
 415000,
 3200000,
 300000,
 470000,
 430000,
 315000,
 549000,
 475000,
 550000,
 140000,
 409999,
 795000,
 819999,
 625000,
 370000,
 350000,
 95000,
 4100000,
 535000,
 1050000,
 400000,
 275000,
 95000,
 4875000,
 400000,
 150000,
 740000,
 121000,
 550000,
 509999,
 800000,
 592000,
 785000,
 2800000,
 625000,
 204999,
 470000,
 124000,
 620000,
 570000,
 1811000,
 625000,
 2300000,
 1100000,
 700000,
 525000,
 320000,
 245000,
 525000,
 595000,
 275000,
 590000,
 509999,
 585000,
 300000,
 150000,
 550000,
 400000,
 265000,
 700000,
 500000,
 1050000,
 95000,
 220000,
 568000,
 1000000,
 1275000,
 1000000,
 475000,
 350000,
 395000,
 825000,
 450000,
 495000,
 500000,
 900000,
 700000,
 650000,
 175000,
 710000,
 400000,
 470000,
 795000,
 785000,
 78000,
 650000,
 250000,
 270000,
 270000,
 750000,
 914000,
 1015000,
 165000,
 260000,
 550000,
 2225000,
 750000,
 2690000,
 175000,
 540000,
 70000,
 620000,
 1550000,
 350000,
 300000,
 550000,
 200000,
 1270000,
 170000,
 740000,
 3450000,
 450000,
 133000,
 750000,
 520000,
 345000,
 220000,
 215000,
 370000,
 229999,
 600000,
 1075000,
 289000,
 550000,
 550000,
 450000,
 600000,
 525000,
 350000,
 180000,
 254999,
 890000,
 1500000,
 3000000,
 500000,
 330000,
 850000,
 335000,
 610000,
 120000,
 834000,
 170000,
 900000,
 450000,
 900000,
 390000,
 360000,
 530000,
 2700000,
 551000,
 1050000,
 1000000,
 160000,
 80000,
 250000,
 350000,
 390000,
 2400000,
 130000,
 700000,
 450000,
 1385000,
 285000,
 6900000,
 495000,
 310000,
 800000,
 260000,
 65000,
 459999,
 450000,
 430000,
 105000,
 1775000,
 525000,
 341000,
 790000,
 775000,
 1099000,
 320000,
 599000,
 750000,
 140000,
 220000,
 509999,
 300000,
 1100000,
 260000,
 434999,
 320000,
 350000,
 3750000,
 ...]

In [14]:
s2=pd.Series(price)
df['price']=s2

df['price']

0         120000
1         550000
2         215000
3         225999
4         570000
          ...
19969     650000
19970     925000
19971     425000
19972    1225000
19973    1200000
Name: price, Length: 19974, dtype: int64

In [15]:
df.columns

Index(['full_name', 'selling_price', 'new_price', 'year', 'seller_type',
       'km_driven', 'owner_type', 'fuel_type', 'transmission_type', 'mileage',
       'engine', 'max_power', 'seats', 'brand_name_Ambassador',
       'brand_name_Audi', 'brand_name_BMW', 'brand_name_Bentley',
       'brand_name_Chevrolet', 'brand_name_DC', 'brand_name_Daewoo',
       'brand_name_Datsun', 'brand_name_Ferrari', 'brand_name_Fiat',
       'brand_name_Force', 'brand_name_Ford', 'brand_name_Honda',
       'brand_name_Hyundai', 'brand_name_ISUZU', 'brand_name_Isuzu',
       'brand_name_Jaguar', 'brand_name_Jeep', 'brand_name_Kia',
       'brand_name_Lamborghini', 'brand_name_Land', 'brand_name_Lexus',
       'brand_name_MG', 'brand_name_Mahindra', 'brand_name_Maruti',
       'brand_name_Maserati', 'brand_name_Mercedes-AMG',
       'brand_name_Mercedes-Benz', 'brand_name_Mini', 'brand_name_Mitsubishi',
       'brand_name_Nissan', 'brand_name_Opel', 'brand_name_OpelCorsa',
       'brand_name_Porsche', 'brand_name_Premier', 'brand_name_Renault',
       'brand_name_Rolls-Royce', 'brand_name_Skoda', 'brand_name_Tata',
       'brand_name_Toyota', 'brand_name_Volkswagen', 'brand_name_Volvo',
       'price'],
      dtype='object')

### 3.3  year

In [16]:
print(df['year'].nunique())
print(df['year'].unique())
print(df['year'].value_counts())
print(df['year'].isna().sum())
print(df['year'].dtype)

28
[2012 2016 2010 2015 2013 2018 2019 2017 2014 2011 2007 2009 2004 2020
 2006 2008 2000 2005 2002 1999 2003 1997 2001 1992 2021 1998 1991 1996]
2017    2653
2016    2587
2015    2429
2018    2163
2014    1947
2013    1775
2012    1553
2019    1238
2011    1096
2010     845
2009     444
2008     374
2007     247
2020     240
2006     179
2005      65
2004      44
2003      23
2002      16
2001      15
2000      13
1999      12
2021       6
1998       6
1997       1
1992       1
1991       1
1996       1
Name: year, dtype: int64
0
int64

In [17]:
# here we calculated how old car 
df['car_age']=2022-df['year']
df['car_age']

0        10
1         6
2        12
3        10
4         7
         ..
19969     5
19970     3
19971     7
19972     6
19973     3
Name: car_age, Length: 19974, dtype: int64

In [18]:
df.head()

,full_name,selling_price,new_price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,...,brand_name_Premier,brand_name_Renault,brand_name_Rolls-Royce,brand_name_Skoda,brand_name_Tata,brand_name_Toyota,brand_name_Volkswagen,brand_name_Volvo,price,car_age
0,Maruti Alto Std,1.2 Lakh*,NaN,2012,Individual,"1,20,000 kms",First Owner,Petrol,Manual,Mileage19.7 kmpl,...,0,0,0,0,0,0,0,0,120000,10
1,Hyundai Grand i10 Asta,5.5 Lakh*,New Car (On-Road Price) : Rs.7.11-7.48 Lakh*,2016,Individual,"20,000 kms",First Owner,Petrol,Manual,Mileage18.9 kmpl,...,0,0,0,0,0,0,0,0,550000,6
2,Hyundai i20 Asta,2.15 Lakh*,NaN,2010,Individual,"60,000 kms",First Owner,Petrol,Manual,Mileage17.0 kmpl,...,0,0,0,0,0,0,0,0,215000,12
3,Maruti Alto K10 2010-2014 VXI,2.26 Lakh*,NaN,2012,Individual,"37,000 kms",First Owner,Petrol,Manual,Mileage20.92 kmpl,...,0,0,0,0,0,0,0,0,225999,10
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.7 Lakh*,New Car (On-Road Price) : Rs.10.14-13.79 Lakh*,2015,Dealer,"30,000 kms",First Owner,Diesel,Manual,Mileage22.77 kmpl,...,0,0,0,0,0,0,0,0,570000,7

### 3.4'seller_type'

In [19]:
print(df['seller_type'].nunique())
print(df['seller_type'].unique())
print(df['seller_type'].value_counts())
print(df['seller_type'].isna().sum())
print(df['seller_type'].dtype)

3
['Individual' 'Dealer' 'Trustmark Dealer']
Dealer              11970
Individual           7814
Trustmark Dealer      190
Name: seller_type, dtype: int64
0
object

In [20]:
# so here we convert by one hot encoding
df=pd.get_dummies(df,columns=['seller_type'])
df.columns

Index(['full_name', 'selling_price', 'new_price', 'year', 'km_driven',
       'owner_type', 'fuel_type', 'transmission_type', 'mileage', 'engine',
       'max_power', 'seats', 'brand_name_Ambassador', 'brand_name_Audi',
       'brand_name_BMW', 'brand_name_Bentley', 'brand_name_Chevrolet',
       'brand_name_DC', 'brand_name_Daewoo', 'brand_name_Datsun',
       'brand_name_Ferrari', 'brand_name_Fiat', 'brand_name_Force',
       'brand_name_Ford', 'brand_name_Honda', 'brand_name_Hyundai',
       'brand_name_ISUZU', 'brand_name_Isuzu', 'brand_name_Jaguar',
       'brand_name_Jeep', 'brand_name_Kia', 'brand_name_Lamborghini',
       'brand_name_Land', 'brand_name_Lexus', 'brand_name_MG',
       'brand_name_Mahindra', 'brand_name_Maruti', 'brand_name_Maserati',
       'brand_name_Mercedes-AMG', 'brand_name_Mercedes-Benz',
       'brand_name_Mini', 'brand_name_Mitsubishi', 'brand_name_Nissan',
       'brand_name_Opel', 'brand_name_OpelCorsa', 'brand_name_Porsche',
       'brand_name_Premier', 'brand_name_Renault', 'brand_name_Rolls-Royce',
       'brand_name_Skoda', 'brand_name_Tata', 'brand_name_Toyota',
       'brand_name_Volkswagen', 'brand_name_Volvo', 'price', 'car_age',
       'seller_type_Dealer', 'seller_type_Individual',
       'seller_type_Trustmark Dealer'],
      dtype='object')

### 3.5 Km Driven

In [21]:
print(df['km_driven'].nunique())
print(df['km_driven'].unique())
print(df['km_driven'].value_counts())
print(df['km_driven'].isna().sum())
print(df['km_driven'].dtype)

4515
['1,20,000 kms' '20,000 kms' '60,000 kms' ... '10,723 kms' '69,480 kms'
 '38,00,000 kms']
50,000 kms       750
70,000 kms       680
60,000 kms       644
40,000 kms       624
80,000 kms       502
                ...
2,530 kms          1
56,913 kms         1
54,278 kms         1
94,603 kms         1
38,00,000 kms      1
Name: km_driven, Length: 4515, dtype: int64
0
object

In [22]:
df['km_driven'].replace(r'[,*a-zA-Z]+','',regex=True,inplace=True)

In [23]:
df['km_driven']=df['km_driven'].astype(float)

In [24]:
print(df['km_driven'].nunique())
print(df['km_driven'].unique())
print(df['km_driven'].value_counts())
print(df['km_driven'].isna().sum())
print(df['km_driven'].dtype)

4499
[ 120000.   20000.   60000. ...   10723.   69480. 3800000.]
50000.0      750
70000.0      680
60000.0      644
40000.0      624
80000.0      502
            ...
2530.0         1
56913.0        1
54278.0        1
94603.0        1
3800000.0      1
Name: km_driven, Length: 4499, dtype: int64
0
float64

In [25]:
df.columns

Index(['full_name', 'selling_price', 'new_price', 'year', 'km_driven',
       'owner_type', 'fuel_type', 'transmission_type', 'mileage', 'engine',
       'max_power', 'seats', 'brand_name_Ambassador', 'brand_name_Audi',
       'brand_name_BMW', 'brand_name_Bentley', 'brand_name_Chevrolet',
       'brand_name_DC', 'brand_name_Daewoo', 'brand_name_Datsun',
       'brand_name_Ferrari', 'brand_name_Fiat', 'brand_name_Force',
       'brand_name_Ford', 'brand_name_Honda', 'brand_name_Hyundai',
       'brand_name_ISUZU', 'brand_name_Isuzu', 'brand_name_Jaguar',
       'brand_name_Jeep', 'brand_name_Kia', 'brand_name_Lamborghini',
       'brand_name_Land', 'brand_name_Lexus', 'brand_name_MG',
       'brand_name_Mahindra', 'brand_name_Maruti', 'brand_name_Maserati',
       'brand_name_Mercedes-AMG', 'brand_name_Mercedes-Benz',
       'brand_name_Mini', 'brand_name_Mitsubishi', 'brand_name_Nissan',
       'brand_name_Opel', 'brand_name_OpelCorsa', 'brand_name_Porsche',
       'brand_name_Premier', 'brand_name_Renault', 'brand_name_Rolls-Royce',
       'brand_name_Skoda', 'brand_name_Tata', 'brand_name_Toyota',
       'brand_name_Volkswagen', 'brand_name_Volvo', 'price', 'car_age',
       'seller_type_Dealer', 'seller_type_Individual',
       'seller_type_Trustmark Dealer'],
      dtype='object')

### 3.6 'owner_type'

In [26]:
print(df['owner_type'].nunique())
print(df['owner_type'].unique())
print(df['owner_type'].value_counts())
print(df['owner_type'].isna().sum())
print(df['owner_type'].dtype)

1
['First Owner']
First Owner    19974
Name: owner_type, dtype: int64
0
object

In [27]:
# from above it only one value so we not consider this feture for model training

### 3.7 'fuel_type'

In [28]:
print(df['fuel_type'].nunique())
print(df['fuel_type'].unique())
print(df['fuel_type'].value_counts())
print(df['fuel_type'].isna().sum())
print(df['fuel_type'].dtype)

5
['Petrol' 'Diesel' 'CNG' 'LPG' 'Electric']
Diesel      9815
Petrol      9763
CNG          316
LPG           66
Electric      14
Name: fuel_type, dtype: int64
0
object

In [29]:
# here we apply one hot encoding
df=pd.get_dummies(df,columns=['fuel_type'])
df.columns

Index(['full_name', 'selling_price', 'new_price', 'year', 'km_driven',
       'owner_type', 'transmission_type', 'mileage', 'engine', 'max_power',
       'seats', 'brand_name_Ambassador', 'brand_name_Audi', 'brand_name_BMW',
       'brand_name_Bentley', 'brand_name_Chevrolet', 'brand_name_DC',
       'brand_name_Daewoo', 'brand_name_Datsun', 'brand_name_Ferrari',
       'brand_name_Fiat', 'brand_name_Force', 'brand_name_Ford',
       'brand_name_Honda', 'brand_name_Hyundai', 'brand_name_ISUZU',
       'brand_name_Isuzu', 'brand_name_Jaguar', 'brand_name_Jeep',
       'brand_name_Kia', 'brand_name_Lamborghini', 'brand_name_Land',
       'brand_name_Lexus', 'brand_name_MG', 'brand_name_Mahindra',
       'brand_name_Maruti', 'brand_name_Maserati', 'brand_name_Mercedes-AMG',
       'brand_name_Mercedes-Benz', 'brand_name_Mini', 'brand_name_Mitsubishi',
       'brand_name_Nissan', 'brand_name_Opel', 'brand_name_OpelCorsa',
       'brand_name_Porsche', 'brand_name_Premier', 'brand_name_Renault',
       'brand_name_Rolls-Royce', 'brand_name_Skoda', 'brand_name_Tata',
       'brand_name_Toyota', 'brand_name_Volkswagen', 'brand_name_Volvo',
       'price', 'car_age', 'seller_type_Dealer', 'seller_type_Individual',
       'seller_type_Trustmark Dealer', 'fuel_type_CNG', 'fuel_type_Diesel',
       'fuel_type_Electric', 'fuel_type_LPG', 'fuel_type_Petrol'],
      dtype='object')

### 3.8transmission_type

In [30]:
print(df['transmission_type'].nunique())
print(df['transmission_type'].unique())
print(df['transmission_type'].value_counts())
print(df['transmission_type'].isna().sum())
print(df['transmission_type'].dtype)

2
['Manual' 'Automatic']
Manual       16025
Automatic     3949
Name: transmission_type, dtype: int64
0
object

In [31]:
# here we also apply one hot encodinf
df=pd.get_dummies(df,columns=['transmission_type'])
df.columns

Index(['full_name', 'selling_price', 'new_price', 'year', 'km_driven',
       'owner_type', 'mileage', 'engine', 'max_power', 'seats',
       'brand_name_Ambassador', 'brand_name_Audi', 'brand_name_BMW',
       'brand_name_Bentley', 'brand_name_Chevrolet', 'brand_name_DC',
       'brand_name_Daewoo', 'brand_name_Datsun', 'brand_name_Ferrari',
       'brand_name_Fiat', 'brand_name_Force', 'brand_name_Ford',
       'brand_name_Honda', 'brand_name_Hyundai', 'brand_name_ISUZU',
       'brand_name_Isuzu', 'brand_name_Jaguar', 'brand_name_Jeep',
       'brand_name_Kia', 'brand_name_Lamborghini', 'brand_name_Land',
       'brand_name_Lexus', 'brand_name_MG', 'brand_name_Mahindra',
       'brand_name_Maruti', 'brand_name_Maserati', 'brand_name_Mercedes-AMG',
       'brand_name_Mercedes-Benz', 'brand_name_Mini', 'brand_name_Mitsubishi',
       'brand_name_Nissan', 'brand_name_Opel', 'brand_name_OpelCorsa',
       'brand_name_Porsche', 'brand_name_Premier', 'brand_name_Renault',
       'brand_name_Rolls-Royce', 'brand_name_Skoda', 'brand_name_Tata',
       'brand_name_Toyota', 'brand_name_Volkswagen', 'brand_name_Volvo',
       'price', 'car_age', 'seller_type_Dealer', 'seller_type_Individual',
       'seller_type_Trustmark Dealer', 'fuel_type_CNG', 'fuel_type_Diesel',
       'fuel_type_Electric', 'fuel_type_LPG', 'fuel_type_Petrol',
       'transmission_type_Automatic', 'transmission_type_Manual'],
      dtype='object')

### 3.9 mileage

In [32]:
print(df['mileage'].nunique())
print(df['mileage'].unique())
print(df['mileage'].value_counts())
print(df['mileage'].isna().sum())
print(df['mileage'].dtype)

561
['Mileage19.7 kmpl' 'Mileage18.9 kmpl' 'Mileage17.0 kmpl'
 'Mileage20.92 kmpl' 'Mileage22.77 kmpl' 'Mileage20.36 kmpl'
 'Mileage20.51 kmpl' 'Mileage18.15 kmpl' 'Mileage18.49 kmpl'
 'Mileage19.09 kmpl' 'Mileage20.37 kmpl' 'Mileage16.6 kmpl'
 'Mileage19.34 kmpl' 'Mileage22.32 kmpl' 'Mileage19.64 kmpl'
 'Mileage14.41 kmpl' 'Mileage28.09 kmpl' 'Mileage25.2 kmpl'
 'Mileage19.27 kmpl' 'Mileage28.4 kmpl' 'Mileage12.99 kmpl'
 'Mileage21.4 kmpl' 'Mileage20.85 kmpl' 'Mileage17.8 kmpl'
 'Mileage16.09 kmpl' 'Mileage19.67 kmpl' 'Mileage14.02 kmpl'
 'Mileage17.4 kmpl' 'Mileage13.6 kmpl' 'Mileage26.59 kmpl'
 'Mileage17.7 kmpl' 'Mileage17.19 kmpl' 'Mileage13.0 kmpl'
 'Mileage23.01 kmpl' 'Mileage18.6 kmpl' 'Mileage17.92 kmpl'
 'Mileage15.1 kmpl' 'Mileage23.4 kmpl' 'Mileage14.0 kmpl'
 'Mileage22.1 kmpl' 'Mileage19.1 kmpl' 'Mileage22.54 kmpl'
 'Mileage18.0 kmpl' 'Mileage16.1 kmpl' 'Mileage20.5 kmpl'
 'Mileage12.2 kmpl' 'Mileage21.0 kmpl' 'Mileage26.0 kmpl'
 'Mileage17.6 kmpl' 'Mileage15.4 kmpl' 'Mileage20.89 kmpl'
 'Mileage14.53 kmpl' 'Mileage26.6 km/kg' 'Mileage22.5 kmpl'
 'Mileage25.0 kmpl' 'Mileage25.4 kmpl' 'Mileage16.8 kmpl'
 'Mileage20.54 kmpl' 'Mileage17.3 kmpl' 'Mileage24.0 kmpl'
 'Mileage18.16 kmpl' 'Mileage21.21 kmpl' 'Mileage23.5 kmpl'
 'Mileage25.17 kmpl' 'Mileage24.3 kmpl' 'Mileage18.5 kmpl'
 'Mileage23.84 kmpl' 'Mileage18.78 kmpl' 'Mileage11.74 kmpl'
 'Mileage25.1 kmpl' 'Mileage21.01 kmpl' 'Mileage22.74 kmpl'
 'Mileage21.9 kmpl' 'Mileage25.44 kmpl' 'Mileage15.6 kmpl'
 'Mileage23.59 kmpl' 'Mileage22.07 kmpl' 'Mileage22.0 kmpl'
 'Mileage23.1 kmpl' 'Mileage23.0 kmpl' 'Mileage19.08 kmpl'
 'Mileage18.27 kmpl' 'Mileage20.45 kmpl' 'Mileage23.9 kmpl'
 'Mileage14.66 kmpl' 'Mileage20.14 kmpl' 'Mileage19.81 kmpl'
 'Mileage19.44 kmpl' 'Mileage18.59 kmpl' 'Mileage20.62 kmpl'
 'Mileage17.01 kmpl' nan 'Mileage17.5 kmpl' 'Mileage12.05 kmpl'
 'Mileage25.83 kmpl' 'Mileage21.79 kmpl' 'Mileage13.7 kmpl'
 'Mileage16.47 kmpl' 'Mileage20.7 kmpl' 'Mileage17.71 kmpl'
 'Mileage10.91 kmpl' 'Mileage25.8 kmpl' 'Mileage25.32 kmpl'
 'Mileage14.49 kmpl' 'Mileage19.87 kmpl' 'Mileage18.7 kmpl'
 'Mileage14.4 km/kg' 'Mileage18.2 kmpl' 'Mileage13.5 kmpl'
 'Mileage22.69 kmpl' 'Mileage21.1 kmpl' 'Mileage13.01 kmpl'
 'Mileage15.3 kmpl' 'Mileage20.73 kmpl' 'Mileage12.8 kmpl'
 'Mileage16.55 kmpl' 'Mileage20.0 kmpl' 'Mileage21.5 kmpl'
 'Mileage24.7 kmpl' 'Mileage21.12 kmpl' 'Mileage16.78 kmpl'
 'Mileage19.4 kmpl' 'Mileage23.95 kmpl' 'Mileage21.63 kmpl'
 'Mileage14.4 kmpl' 'Mileage17.43 kmpl' 'Mileage23.65 kmpl'
 'Mileage15.73 kmpl' 'Mileage25.47 kmpl' 'Mileage33.54 km/kg'
 'Mileage15.96 kmpl' 'Mileage21.19 kmpl' 'Mileage21.64 kmpl'
 'Mileage23.08 kmpl' 'Mileage12.55 kmpl' 'Mileage16.9 kmpl'
 'Mileage12.33 kmpl' 'Mileage21.43 kmpl' 'Mileage18.06 kmpl'
 'Mileage22.3 kmpl' 'Mileage12.9 kmpl' 'Mileage17.84 kmpl'
 'Mileage27.28 kmpl' 'Mileage24.4 kmpl' 'Mileage24.04 kmpl'
 'Mileage22.7 kmpl' 'Mileage13.2 kmpl' 'Mileage16.0 kmpl'
 'Mileage21.7 kmpl' 'Mileage16.84 kmpl' 'Mileage14.28 kmpl'
 'Mileage17.14 kmpl' 'Mileage19.6 kmpl' 'Mileage20.4 kmpl'
 'Mileage12.63 kmpl' 'Mileage17.1 kmpl' 'Mileage15.37 kmpl'
 'Mileage19.01 kmpl' 'Mileage11.4 kmpl' 'Mileage13.68 kmpl'
 'Mileage17.68 kmpl' 'Mileage12.3 kmpl' 'Mileage19.0 kmpl'
 'Mileage17.21 kmpl' 'Mileage12.19 kmpl' 'Mileage17.33 kmpl'
 'Mileage20.77 kmpl' 'Mileage12.07 kmpl' 'Mileage20.3 kmpl'
 'Mileage27.39 kmpl' 'Mileage16.36 kmpl' 'Mileage15.8 kmpl'
 'Mileage17.45 kmpl' 'Mileage11.29 kmpl' 'Mileage20.52 kmpl'
 'Mileage18.0 km/kg' 'Mileage31.79 km/kg' 'Mileage9.17 kmpl'
 'Mileage13.73 kmpl' 'Mileage20.8 kmpl' 'Mileage9.0 kmpl'
 'Mileage19.3 kmpl' 'Mileage17.0 km/kg' 'Mileage26.21 kmpl'
 'Mileage18.1 kmpl' 'Mileage22.9 kmpl' 'Mileage14.94 kmpl'
 'Mileage13.38 kmpl' 'Mileage22.95 kmpl' 'Mileage17.9 kmpl'
 'Mileage15.0 kmpl' 'Mileage10.1 kmpl' 'Mileage17.41 kmpl'
 'Mileage11.5 kmpl' 'Mileage17.03 kmpl' 'Mileage16.95 kmpl'
 'Mileage16.2 kmpl' 'Mileage13.9 kmpl' 'Mileage10.0 kmpl'
 'Mileage12.4 kmpl' 'Mileage15.81 kmpl' 'Mileage14.21 kmpl'
 'Mileage15.15 kmpl' 'Mileage18.12 kmpl' 'Mileage30.46 km/kg'
 'Mileage14.7 kmpl' 'Mileage17.05 kmpl' 'Mileage21.94 km/kg'
 'Mileage24.52 kmpl' 'Mileage17.57 kmpl' 'Mileage13.14 kmpl'
 'Mileage14.84 kmpl' 'Mileage15.5 kmpl' 'Mileage20.58 kmpl'
 'Mileage26.2 km/kg' 'Mileage20.63 kmpl' 'Mileage10.26 kmpl'
 'Mileage33.44 km/kg' 'Mileage16.98 kmpl' 'Mileage17.2 kmpl'
 'Mileage23.26 kmpl' 'Mileage17.97 kmpl' 'Mileage11.36 kmpl'
 'Mileage17.99 kmpl' 'Mileage21.13 kmpl' 'Mileage20.68 kmpl'
 'Mileage15.04 kmpl' 'Mileage15.26 kmpl' 'Mileage13.49 kmpl'
 'Mileage11.57 kmpl' 'Mileage19.12 kmpl' 'Mileage15.17 kmpl'
 'Mileage22.05 kmpl' 'Mileage11.8 kmpl' 'Mileage18.48 kmpl'
 'Mileage19.2 kmpl' 'Mileage13.93 kmpl' 'Mileage15.1 km/kg'
 'Mileage16.93 kmpl' 'Mileage18.25 kmpl' 'Mileage19.49 kmpl'
 'Mileage21.1 km/kg' 'Mileage26.32 kmpl' 'Mileage13.8 kmpl'
 'Mileage19.83 kmpl' 'Mileage22.37 kmpl' 'Mileage9.5 kmpl'
 'Mileage11.72 kmpl' 'Mileage19.16 kmpl' 'Mileage16.7 kmpl'
 'Mileage27.3 kmpl' 'Mileage19.5 kmpl' 'Mileage19.62 kmpl'
 'Mileage21.66 kmpl' 'Mileage22.27 kmpl' 'Mileage32.52 km/kg'
 'Mileage21.04 kmpl' 'Mileage11.3 kmpl' 'Mileage15.74 kmpl'
 'Mileage10.5 kmpl' 'Mileage18.69 kmpl' 'Mileage19.68 kmpl'
 'Mileage20.0 km/kg' 'Mileage17.66 kmpl' 'Mileage12.0 kmpl'
 'Mileage15.29 kmpl' 'Mileage14.3 kmpl' 'Mileage23.03 kmpl'
 'Mileage15.7 kmpl' 'Mileage23.2 kmpl' 'Mileage16.02 kmpl'
 'Mileage15.64 kmpl' 'Mileage15.85 kmpl' 'Mileage19.69 kmpl'
 'Mileage16.5 kmpl' 'Mileage22.48 kmpl' 'Mileage15.2 kmpl'
 'Mileage14.95 kmpl' 'Mileage17.3 km/kg' 'Mileage22.71 kmpl'
 'Mileage14.62 kmpl' 'Mileage18.3 kmpl' 'Mileage23.7 kmpl'
 'Mileage17.67 kmpl' 'Mileage12.7 kmpl' 'Mileage10.75 kmpl'
 'Mileage19.98 kmpl' 'Mileage20.65 kmpl' 'Mileage21.38 kmpl'
 'Mileage13.2 km/kg' 'Mileage20.28 kmpl' 'Mileage11.33 kmpl'
 'Mileage17.11 kmpl' 'Mileage17.88 kmpl' 'Mileage22.15 kmpl'
 'Mileage11.1 kmpl' 'Mileage21.2 kmpl' 'Mileage8.45 kmpl'
 'Mileage20.41 kmpl' 'Mileage21.14 kmpl' 'Mileage9.52 kmpl'
 'Mileage24.2 kmpl' 'Mileage18.8 kmpl' 'Mileage16.25 kmpl'
 'Mileage18.88 kmpl' 'Mileage20.34 kmpl' 'Mileage16.51 kmpl'
 'Mileage11.79 kmpl' 'Mileage16.3 kmpl' 'Mileage11.7 kmpl'
 'Mileage25.5 kmpl' 'Mileage11.88 km/kg' 'Mileage18.9 km/kg'
 'Mileage12.5 kmpl' 'Mileage19.72 kmpl' 'Mileage14.23 kmpl'
 'Mileage14.1 kmpl' 'Mileage14.12 kmpl' 'Mileage13.55 kmpl'
 'Mileage11.25 kmpl' 'Mileage12.37 kmpl' 'Mileage14.9 kmpl'
 'Mileage13.33 kmpl' 'Mileage13.4 kmpl' 'Mileage16.38 kmpl'
 'Mileage11.68 kmpl' 'Mileage13.96 kmpl' 'Mileage19.56 kmpl'
 'Mileage11.0 kmpl' 'Mileage10.2 kmpl' 'Mileage15.9 kmpl'
 'Mileage27.62 kmpl' 'Mileage19.95 kmpl' 'Mileage13.1 kmpl'
 'Mileage20.46 kmpl' 'Mileage12.39 kmpl' 'Mileage27.4 kmpl'
 'Mileage11.18 kmpl' 'Mileage13.3 km/kg' 'Mileage18.23 kmpl'
 'Mileage22.8 km/kg' 'Mileage14.59 kmpl' 'Mileage18.19 kmpl'
 'Mileage14.8 kmpl' 'Mileage23.8 kmpl' 'Mileage19.33 kmpl'
 'Mileage20.64 kmpl' 'Mileage26.83 km/kg' 'Mileage19.0 km/kg'
 'Mileage26.1 kmpl' 'Mileage17.5 km/kg' 'Mileage14.67 kmpl'
 'Mileage19.59 kmpl' 'Mileage12.81 kmpl' 'Mileage13.58 kmpl'
 'Mileage26.8 kmpl' 'Mileage13.24 kmpl' 'Mileage10.8 kmpl'
 'Mileage14.39 kmpl' 'Mileage18.56 kmpl' 'Mileage26.08 km/kg'
 'Mileage12.98 kmpl' 'Mileage18.24 kmpl' 'Mileage12.83 kmpl'
 'Mileage18.53 kmpl' 'Mileage12.1 kmpl' 'Mileage20.86 kmpl'
 'Mileage24.5 kmpl' 'Mileage7.81 kmpl' 'Mileage26.55 km/kg'
 'Mileage15.3 km/kg' 'Mileage13.45 km/kg' 'Mileage18.51 kmpl'
 'Mileage19.16 km/hr' 'Mileage30.48 km/kg' 'Mileage20.38 kmpl'
 'Mileage21.3 kmpl' 'Mileage14.04 kmpl' 'Mileage17.32 kmpl'
 'Mileage18.4 kmpl' 'Mileage14.83 kmpl' 'Mileage16.8 km/kg'
 'Mileage20.04 kmpl' 'Mileage30.47 km/kg' 'Mileage15.4 km/kg'
 'Mileage12.97 kmpl' 'Mileage16.4 kmpl' 'Mileage14.2 kmpl'
 'Mileage16.07 kmpl' 'Mileage14.24 kmpl' 'Mileage21.03 kmpl'
 'Mileage25.01 kmpl' 'Mileage14.69 kmpl' 'Mileage21.76 kmpl'
 'Mileage21.49 kmpl' 'Mileage21.27 kmpl' 'Mileage14.71 kmpl'
 'Mileage11.49 kmpl' 'Mileage21.56 kmpl' 'Mileage19.71 kmpl'
 'Mileage17.42 kmpl' 'Mileage16.73 kmpl' 'Mileage16.11 kmpl'
 'Mileage11.45 kmpl' 'Mileage18.44 kmpl' 'Mileage14.5 kmpl'
 'Mileage19.02 kmpl' 'Mileage14.75 kmpl' 'Mileage25.6 kmpl'
 'Mileage24.07 kmpl' 'Mileage23.57 kmpl' 'Mileage10.13 kmpl'
 'Mileage16.05 kmpl' 'Mileage10.93 kmpl' 'Mileage24.12 kmpl'
 'Mileage24.8 kmpl' 'Mileage16.0 km/kg' 'Mileage21.02 kmpl'
 'Mileage12.35 kmpl' 'Mileage20.2 kmpl' 'Mileage21.74 kmpl'
 'Mileage15.63 kmpl' 'Mileage14.6 kmpl' 'Mileage15.42 kmpl'
 'Mileage14.74 kmpl' 'Mileage15.34 kmpl' 'Mileage6.4 kmpl'
 'Mileage14.47 kmpl' 'Mileage24.29 kmpl' 'Mileage14.16 kmpl'
 'Mileage12.12 kmpl' 'Mileage16.77 kmpl' 'Mileage19.61 kmpl'
 'Mileage18.33 kmpl' 'Mileage22.1 km/kg' 'Mileage13.04 kmpl'
 'Mileage14.19 kmpl' 'Mileage15.11 kmpl' 'Mileage16.52 kmpl'
 'Mileage18.76 kmpl' 'Mileage10.9 km/kg' 'Mileage13.44 kmpl'
 'Mileage17.09 kmpl' 'Mileage16.46 kmpl' 'Mileage9.43 kmpl'
 'Mileage13.79 kmpl' 'Mileage16.65 kmpl' 'Mileage8.0 kmpl'
 'Mileage16.96 kmpl' 'Mileage20.88 km/kg' 'Mileage15.87 kmpl'
 'Mileage15.97 kmpl' 'Mileage4.0 kmpl' 'Mileage14.07 kmpl'
 'Mileage9.26 kmpl' 'Mileage12.65 kmpl' 'Mileage23.3 kmpl'
 'Mileage10.34 kmpl' 'Mileage20.35 kmpl' 'Mileage14.42 kmpl'
 'Mileage15.9 km/kg' 'Mileage17.72 kmpl' 'Mileage20.71 kmpl'
 'Mileage9.8 kmpl' 'Mileage21.8 kmpl' 'Mileage12.4 km/kg'
 'Mileage19.39 kmpl' 'Mileage14.09 kmpl' 'Mileage11.2 kmpl'
 'Mileage14.6 km/kg' 'Mileage10.9 kmpl' 'Mileage21.58 kmpl'
 'Mileage21.72 kmpl' 'Mileage32.26 km/kg' 'Mileage16.6 km/kg'
 'Mileage7.5 kmpl' 'Mileage16.34 kmpl' 'Mileage23.87 kmpl'
 'Mileage17.15 kmpl' 'Mileage11.9 kmpl' 'Mileage12.08 kmpl'
 'Mileage19.23 kmpl' 'Mileage14.56 kmpl' 'Mileage14.81 kmpl'
 'Mileage21.73 kmpl' 'Mileage23.19 kmpl' 'Mileage11.56 kmpl'
 'Mileage17.8 km/kg' 'Mileage26.82 kmpl' 'Mileage12.51 kmpl'
 'Mileage15.68 kmpl' 'Mileage13.22 kmpl' 'Mileage15.06 kmpl'
 'Mileage14.57 kmpl' 'Mileage10.3 kmpl' 'Mileage9.3 kmpl'
 'Mileage24.1 kmpl' 'Mileage12.6 kmpl' 'Mileage8.6 kmpl'
 'Mileage19.2 km/kg' 'Mileage9.1 kmpl' 'Mileage25.0 km/kg'
 'Mileage9.74 kmpl' 'Mileage11.96 kmpl' 'Mileage9.9 kmpl'
 'Mileage19.05 kmpl' 'Mileage12.62 kmpl' 'Mileage10.37 kmpl'
 'Mileage11.81 kmpl' 'Mileage18.32 kmpl' 'Mileage19.91 kmpl'
 'Mileage18.57 kmpl' 'Mileage15.41 kmpl' 'Mileage110.0 km/hr'
 'Mileage8.9 kmpl' 'Mileage14.11 kmpl' 'Mileage8.5 kmpl'
 'Mileage23.91 kmpl' 'Mileage15.05 kmpl' 'Mileage14.08 kmpl'
 'Mileage7.94 kmpl' 'Mileage9.4 kmpl' 'Mileage10.6 kmpl'
 'Mileage13.87 kmpl' 'Mileage12.28 kmpl' 'Mileage11.78 kmpl'
 'Mileage6.0 kmpl' 'Mileage26.8 km/kg' 'Mileage17.54 kmpl'
 'Mileage11.31 kmpl' 'Mileage17.85 kmpl' 'Mileage14.38 kmpl'
 'Mileage10.4 kmpl' 'Mileage18.97 kmpl' 'Mileage15.01 kmpl'
 'Mileage17.24 kmpl' 'Mileage13.29 kmpl' 'Mileage16.28 kmpl'
 'Mileage19.19 kmpl' 'Mileage20.6 kmpl' 'Mileage8.77 kmpl'
 'Mileage120.0 km/hr' 'Mileage17.61 kmpl' 'Mileage18.42 kmpl'
 'Mileage17.36 kmpl' 'Mileage12.95 kmpl' 'Mileage14.99 kmpl'
 'Mileage13.17 kmpl' 'Mileage15.92 kmpl' 'Mileage10.71 kmpl'
 'Mileage17.69 kmpl' 'Mileage16.12 kmpl' 'Mileage18.84 kmpl'
 'Mileage10.98 kmpl' 'Mileage19.65 kmpl' 'Mileage25.4 km/kg'
 'Mileage17.74 kmpl' 'Mileage17.18 kmpl' 'Mileage14.53 km/kg'
 'Mileage19.15 kmpl' 'Mileage13.53 kmpl' 'Mileage18.15 km/kg']
Mileage18.9 kmpl      624
Mileage18.6 kmpl      476
Mileage17.0 kmpl      444
Mileage24.3 kmpl      292
Mileage28.4 kmpl      279
                     ...
Mileage24.07 kmpl       1
Mileage9.1 kmpl         1
Mileage20.2 kmpl        1
Mileage14.41 kmpl       1
Mileage18.15 km/kg      1
Name: mileage, Length: 561, dtype: int64

160
object

In [33]:
df['mileage'].replace(r'[a-zA-Z]','',regex=True,inplace=True)

In [34]:
print(df['mileage'].nunique())
print(df['mileage'].unique())
print(df['mileage'].value_counts())
print(df['mileage'].isna().sum())
print(df['mileage'].dtype)

561
['19.7 ' '18.9 ' '17.0 ' '20.92 ' '22.77 ' '20.36 ' '20.51 ' '18.15 '
 '18.49 ' '19.09 ' '20.37 ' '16.6 ' '19.34 ' '22.32 ' '19.64 ' '14.41 '
 '28.09 ' '25.2 ' '19.27 ' '28.4 ' '12.99 ' '21.4 ' '20.85 ' '17.8 '
 '16.09 ' '19.67 ' '14.02 ' '17.4 ' '13.6 ' '26.59 ' '17.7 ' '17.19 '
 '13.0 ' '23.01 ' '18.6 ' '17.92 ' '15.1 ' '23.4 ' '14.0 ' '22.1 ' '19.1 '
 '22.54 ' '18.0 ' '16.1 ' '20.5 ' '12.2 ' '21.0 ' '26.0 ' '17.6 ' '15.4 '
 '20.89 ' '14.53 ' '26.6 /' '22.5 ' '25.0 ' '25.4 ' '16.8 ' '20.54 '
 '17.3 ' '24.0 ' '18.16 ' '21.21 ' '23.5 ' '25.17 ' '24.3 ' '18.5 '
 '23.84 ' '18.78 ' '11.74 ' '25.1 ' '21.01 ' '22.74 ' '21.9 ' '25.44 '
 '15.6 ' '23.59 ' '22.07 ' '22.0 ' '23.1 ' '23.0 ' '19.08 ' '18.27 '
 '20.45 ' '23.9 ' '14.66 ' '20.14 ' '19.81 ' '19.44 ' '18.59 ' '20.62 '
 '17.01 ' nan '17.5 ' '12.05 ' '25.83 ' '21.79 ' '13.7 ' '16.47 ' '20.7 '
 '17.71 ' '10.91 ' '25.8 ' '25.32 ' '14.49 ' '19.87 ' '18.7 ' '14.4 /'
 '18.2 ' '13.5 ' '22.69 ' '21.1 ' '13.01 ' '15.3 ' '20.73 ' '12.8 '
 '16.55 ' '20.0 ' '21.5 ' '24.7 ' '21.12 ' '16.78 ' '19.4 ' '23.95 '
 '21.63 ' '14.4 ' '17.43 ' '23.65 ' '15.73 ' '25.47 ' '33.54 /' '15.96 '
 '21.19 ' '21.64 ' '23.08 ' '12.55 ' '16.9 ' '12.33 ' '21.43 ' '18.06 '
 '22.3 ' '12.9 ' '17.84 ' '27.28 ' '24.4 ' '24.04 ' '22.7 ' '13.2 '
 '16.0 ' '21.7 ' '16.84 ' '14.28 ' '17.14 ' '19.6 ' '20.4 ' '12.63 '
 '17.1 ' '15.37 ' '19.01 ' '11.4 ' '13.68 ' '17.68 ' '12.3 ' '19.0 '
 '17.21 ' '12.19 ' '17.33 ' '20.77 ' '12.07 ' '20.3 ' '27.39 ' '16.36 '
 '15.8 ' '17.45 ' '11.29 ' '20.52 ' '18.0 /' '31.79 /' '9.17 ' '13.73 '
 '20.8 ' '9.0 ' '19.3 ' '17.0 /' '26.21 ' '18.1 ' '22.9 ' '14.94 '
 '13.38 ' '22.95 ' '17.9 ' '15.0 ' '10.1 ' '17.41 ' '11.5 ' '17.03 '
 '16.95 ' '16.2 ' '13.9 ' '10.0 ' '12.4 ' '15.81 ' '14.21 ' '15.15 '
 '18.12 ' '30.46 /' '14.7 ' '17.05 ' '21.94 /' '24.52 ' '17.57 ' '13.14 '
 '14.84 ' '15.5 ' '20.58 ' '26.2 /' '20.63 ' '10.26 ' '33.44 /' '16.98 '
 '17.2 ' '23.26 ' '17.97 ' '11.36 ' '17.99 ' '21.13 ' '20.68 ' '15.04 '
 '15.26 ' '13.49 ' '11.57 ' '19.12 ' '15.17 ' '22.05 ' '11.8 ' '18.48 '
 '19.2 ' '13.93 ' '15.1 /' '16.93 ' '18.25 ' '19.49 ' '21.1 /' '26.32 '
 '13.8 ' '19.83 ' '22.37 ' '9.5 ' '11.72 ' '19.16 ' '16.7 ' '27.3 '
 '19.5 ' '19.62 ' '21.66 ' '22.27 ' '32.52 /' '21.04 ' '11.3 ' '15.74 '
 '10.5 ' '18.69 ' '19.68 ' '20.0 /' '17.66 ' '12.0 ' '15.29 ' '14.3 '
 '23.03 ' '15.7 ' '23.2 ' '16.02 ' '15.64 ' '15.85 ' '19.69 ' '16.5 '
 '22.48 ' '15.2 ' '14.95 ' '17.3 /' '22.71 ' '14.62 ' '18.3 ' '23.7 '
 '17.67 ' '12.7 ' '10.75 ' '19.98 ' '20.65 ' '21.38 ' '13.2 /' '20.28 '
 '11.33 ' '17.11 ' '17.88 ' '22.15 ' '11.1 ' '21.2 ' '8.45 ' '20.41 '
 '21.14 ' '9.52 ' '24.2 ' '18.8 ' '16.25 ' '18.88 ' '20.34 ' '16.51 '
 '11.79 ' '16.3 ' '11.7 ' '25.5 ' '11.88 /' '18.9 /' '12.5 ' '19.72 '
 '14.23 ' '14.1 ' '14.12 ' '13.55 ' '11.25 ' '12.37 ' '14.9 ' '13.33 '
 '13.4 ' '16.38 ' '11.68 ' '13.96 ' '19.56 ' '11.0 ' '10.2 ' '15.9 '
 '27.62 ' '19.95 ' '13.1 ' '20.46 ' '12.39 ' '27.4 ' '11.18 ' '13.3 /'
 '18.23 ' '22.8 /' '14.59 ' '18.19 ' '14.8 ' '23.8 ' '19.33 ' '20.64 '
 '26.83 /' '19.0 /' '26.1 ' '17.5 /' '14.67 ' '19.59 ' '12.81 ' '13.58 '
 '26.8 ' '13.24 ' '10.8 ' '14.39 ' '18.56 ' '26.08 /' '12.98 ' '18.24 '
 '12.83 ' '18.53 ' '12.1 ' '20.86 ' '24.5 ' '7.81 ' '26.55 /' '15.3 /'
 '13.45 /' '18.51 ' '19.16 /' '30.48 /' '20.38 ' '21.3 ' '14.04 ' '17.32 '
 '18.4 ' '14.83 ' '16.8 /' '20.04 ' '30.47 /' '15.4 /' '12.97 ' '16.4 '
 '14.2 ' '16.07 ' '14.24 ' '21.03 ' '25.01 ' '14.69 ' '21.76 ' '21.49 '
 '21.27 ' '14.71 ' '11.49 ' '21.56 ' '19.71 ' '17.42 ' '16.73 ' '16.11 '
 '11.45 ' '18.44 ' '14.5 ' '19.02 ' '14.75 ' '25.6 ' '24.07 ' '23.57 '
 '10.13 ' '16.05 ' '10.93 ' '24.12 ' '24.8 ' '16.0 /' '21.02 ' '12.35 '
 '20.2 ' '21.74 ' '15.63 ' '14.6 ' '15.42 ' '14.74 ' '15.34 ' '6.4 '
 '14.47 ' '24.29 ' '14.16 ' '12.12 ' '16.77 ' '19.61 ' '18.33 ' '22.1 /'
 '13.04 ' '14.19 ' '15.11 ' '16.52 ' '18.76 ' '10.9 /' '13.44 ' '17.09 '
 '16.46 ' '9.43 ' '13.79 ' '16.65 ' '8.0 ' '16.96 ' '20.88 /' '15.87 '
 '15.97 ' '4.0 ' '14.07 ' '9.26 ' '12.65 ' '23.3 ' '10.34 ' '20.35 '
 '14.42 ' '15.9 /' '17.72 ' '20.71 ' '9.8 ' '21.8 ' '12.4 /' '19.39 '
 '14.09 ' '11.2 ' '14.6 /' '10.9 ' '21.58 ' '21.72 ' '32.26 /' '16.6 /'
 '7.5 ' '16.34 ' '23.87 ' '17.15 ' '11.9 ' '12.08 ' '19.23 ' '14.56 '
 '14.81 ' '21.73 ' '23.19 ' '11.56 ' '17.8 /' '26.82 ' '12.51 ' '15.68 '
 '13.22 ' '15.06 ' '14.57 ' '10.3 ' '9.3 ' '24.1 ' '12.6 ' '8.6 ' '19.2 /'
 '9.1 ' '25.0 /' '9.74 ' '11.96 ' '9.9 ' '19.05 ' '12.62 ' '10.37 '
 '11.81 ' '18.32 ' '19.91 ' '18.57 ' '15.41 ' '110.0 /' '8.9 ' '14.11 '
 '8.5 ' '23.91 ' '15.05 ' '14.08 ' '7.94 ' '9.4 ' '10.6 ' '13.87 '
 '12.28 ' '11.78 ' '6.0 ' '26.8 /' '17.54 ' '11.31 ' '17.85 ' '14.38 '
 '10.4 ' '18.97 ' '15.01 ' '17.24 ' '13.29 ' '16.28 ' '19.19 ' '20.6 '
 '8.77 ' '120.0 /' '17.61 ' '18.42 ' '17.36 ' '12.95 ' '14.99 ' '13.17 '
 '15.92 ' '10.71 ' '17.69 ' '16.12 ' '18.84 ' '10.98 ' '19.65 ' '25.4 /'
 '17.74 ' '17.18 ' '14.53 /' '19.15 ' '13.53 ' '18.15 /']
18.9       624
18.6       476
17.0       444
24.3       292
28.4       279
          ...
24.07        1
9.1          1
20.2         1
14.41        1
18.15 /      1
Name: mileage, Length: 561, dtype: int64
160
object

In [35]:
df['mileage'].replace(r'[/]+','',regex=True,inplace=True)

In [36]:
print(df['mileage'].unique())

['19.7 ' '18.9 ' '17.0 ' '20.92 ' '22.77 ' '20.36 ' '20.51 ' '18.15 '
 '18.49 ' '19.09 ' '20.37 ' '16.6 ' '19.34 ' '22.32 ' '19.64 ' '14.41 '
 '28.09 ' '25.2 ' '19.27 ' '28.4 ' '12.99 ' '21.4 ' '20.85 ' '17.8 '
 '16.09 ' '19.67 ' '14.02 ' '17.4 ' '13.6 ' '26.59 ' '17.7 ' '17.19 '
 '13.0 ' '23.01 ' '18.6 ' '17.92 ' '15.1 ' '23.4 ' '14.0 ' '22.1 ' '19.1 '
 '22.54 ' '18.0 ' '16.1 ' '20.5 ' '12.2 ' '21.0 ' '26.0 ' '17.6 ' '15.4 '
 '20.89 ' '14.53 ' '26.6 ' '22.5 ' '25.0 ' '25.4 ' '16.8 ' '20.54 '
 '17.3 ' '24.0 ' '18.16 ' '21.21 ' '23.5 ' '25.17 ' '24.3 ' '18.5 '
 '23.84 ' '18.78 ' '11.74 ' '25.1 ' '21.01 ' '22.74 ' '21.9 ' '25.44 '
 '15.6 ' '23.59 ' '22.07 ' '22.0 ' '23.1 ' '23.0 ' '19.08 ' '18.27 '
 '20.45 ' '23.9 ' '14.66 ' '20.14 ' '19.81 ' '19.44 ' '18.59 ' '20.62 '
 '17.01 ' nan '17.5 ' '12.05 ' '25.83 ' '21.79 ' '13.7 ' '16.47 ' '20.7 '
 '17.71 ' '10.91 ' '25.8 ' '25.32 ' '14.49 ' '19.87 ' '18.7 ' '14.4 '
 '18.2 ' '13.5 ' '22.69 ' '21.1 ' '13.01 ' '15.3 ' '20.73 ' '12.8 '
 '16.55 ' '20.0 ' '21.5 ' '24.7 ' '21.12 ' '16.78 ' '19.4 ' '23.95 '
 '21.63 ' '17.43 ' '23.65 ' '15.73 ' '25.47 ' '33.54 ' '15.96 ' '21.19 '
 '21.64 ' '23.08 ' '12.55 ' '16.9 ' '12.33 ' '21.43 ' '18.06 ' '22.3 '
 '12.9 ' '17.84 ' '27.28 ' '24.4 ' '24.04 ' '22.7 ' '13.2 ' '16.0 '
 '21.7 ' '16.84 ' '14.28 ' '17.14 ' '19.6 ' '20.4 ' '12.63 ' '17.1 '
 '15.37 ' '19.01 ' '11.4 ' '13.68 ' '17.68 ' '12.3 ' '19.0 ' '17.21 '
 '12.19 ' '17.33 ' '20.77 ' '12.07 ' '20.3 ' '27.39 ' '16.36 ' '15.8 '
 '17.45 ' '11.29 ' '20.52 ' '31.79 ' '9.17 ' '13.73 ' '20.8 ' '9.0 '
 '19.3 ' '26.21 ' '18.1 ' '22.9 ' '14.94 ' '13.38 ' '22.95 ' '17.9 '
 '15.0 ' '10.1 ' '17.41 ' '11.5 ' '17.03 ' '16.95 ' '16.2 ' '13.9 '
 '10.0 ' '12.4 ' '15.81 ' '14.21 ' '15.15 ' '18.12 ' '30.46 ' '14.7 '
 '17.05 ' '21.94 ' '24.52 ' '17.57 ' '13.14 ' '14.84 ' '15.5 ' '20.58 '
 '26.2 ' '20.63 ' '10.26 ' '33.44 ' '16.98 ' '17.2 ' '23.26 ' '17.97 '
 '11.36 ' '17.99 ' '21.13 ' '20.68 ' '15.04 ' '15.26 ' '13.49 ' '11.57 '
 '19.12 ' '15.17 ' '22.05 ' '11.8 ' '18.48 ' '19.2 ' '13.93 ' '16.93 '
 '18.25 ' '19.49 ' '26.32 ' '13.8 ' '19.83 ' '22.37 ' '9.5 ' '11.72 '
 '19.16 ' '16.7 ' '27.3 ' '19.5 ' '19.62 ' '21.66 ' '22.27 ' '32.52 '
 '21.04 ' '11.3 ' '15.74 ' '10.5 ' '18.69 ' '19.68 ' '17.66 ' '12.0 '
 '15.29 ' '14.3 ' '23.03 ' '15.7 ' '23.2 ' '16.02 ' '15.64 ' '15.85 '
 '19.69 ' '16.5 ' '22.48 ' '15.2 ' '14.95 ' '22.71 ' '14.62 ' '18.3 '
 '23.7 ' '17.67 ' '12.7 ' '10.75 ' '19.98 ' '20.65 ' '21.38 ' '20.28 '
 '11.33 ' '17.11 ' '17.88 ' '22.15 ' '11.1 ' '21.2 ' '8.45 ' '20.41 '
 '21.14 ' '9.52 ' '24.2 ' '18.8 ' '16.25 ' '18.88 ' '20.34 ' '16.51 '
 '11.79 ' '16.3 ' '11.7 ' '25.5 ' '11.88 ' '12.5 ' '19.72 ' '14.23 '
 '14.1 ' '14.12 ' '13.55 ' '11.25 ' '12.37 ' '14.9 ' '13.33 ' '13.4 '
 '16.38 ' '11.68 ' '13.96 ' '19.56 ' '11.0 ' '10.2 ' '15.9 ' '27.62 '
 '19.95 ' '13.1 ' '20.46 ' '12.39 ' '27.4 ' '11.18 ' '13.3 ' '18.23 '
 '22.8 ' '14.59 ' '18.19 ' '14.8 ' '23.8 ' '19.33 ' '20.64 ' '26.83 '
 '26.1 ' '14.67 ' '19.59 ' '12.81 ' '13.58 ' '26.8 ' '13.24 ' '10.8 '
 '14.39 ' '18.56 ' '26.08 ' '12.98 ' '18.24 ' '12.83 ' '18.53 ' '12.1 '
 '20.86 ' '24.5 ' '7.81 ' '26.55 ' '13.45 ' '18.51 ' '30.48 ' '20.38 '
 '21.3 ' '14.04 ' '17.32 ' '18.4 ' '14.83 ' '20.04 ' '30.47 ' '12.97 '
 '16.4 ' '14.2 ' '16.07 ' '14.24 ' '21.03 ' '25.01 ' '14.69 ' '21.76 '
 '21.49 ' '21.27 ' '14.71 ' '11.49 ' '21.56 ' '19.71 ' '17.42 ' '16.73 '
 '16.11 ' '11.45 ' '18.44 ' '14.5 ' '19.02 ' '14.75 ' '25.6 ' '24.07 '
 '23.57 ' '10.13 ' '16.05 ' '10.93 ' '24.12 ' '24.8 ' '21.02 ' '12.35 '
 '20.2 ' '21.74 ' '15.63 ' '14.6 ' '15.42 ' '14.74 ' '15.34 ' '6.4 '
 '14.47 ' '24.29 ' '14.16 ' '12.12 ' '16.77 ' '19.61 ' '18.33 ' '13.04 '
 '14.19 ' '15.11 ' '16.52 ' '18.76 ' '10.9 ' '13.44 ' '17.09 ' '16.46 '
 '9.43 ' '13.79 ' '16.65 ' '8.0 ' '16.96 ' '20.88 ' '15.87 ' '15.97 '
 '4.0 ' '14.07 ' '9.26 ' '12.65 ' '23.3 ' '10.34 ' '20.35 ' '14.42 '
 '17.72 ' '20.71 ' '9.8 ' '21.8 ' '19.39 ' '14.09 ' '11.2 ' '21.58 '
 '21.72 ' '32.26 ' '7.5 ' '16.34 ' '23.87 ' '17.15 ' '11.9 ' '12.08 '
 '19.23 ' '14.56 ' '14.81 ' '21.73 ' '23.19 ' '11.56 ' '26.82 ' '12.51 '
 '15.68 ' '13.22 ' '15.06 ' '14.57 ' '10.3 ' '9.3 ' '24.1 ' '12.6 ' '8.6 '
 '9.1 ' '9.74 ' '11.96 ' '9.9 ' '19.05 ' '12.62 ' '10.37 ' '11.81 '
 '18.32 ' '19.91 ' '18.57 ' '15.41 ' '110.0 ' '8.9 ' '14.11 ' '8.5 '
 '23.91 ' '15.05 ' '14.08 ' '7.94 ' '9.4 ' '10.6 ' '13.87 ' '12.28 '
 '11.78 ' '6.0 ' '17.54 ' '11.31 ' '17.85 ' '14.38 ' '10.4 ' '18.97 '
 '15.01 ' '17.24 ' '13.29 ' '16.28 ' '19.19 ' '20.6 ' '8.77 ' '120.0 '
 '17.61 ' '18.42 ' '17.36 ' '12.95 ' '14.99 ' '13.17 ' '15.92 ' '10.71 '
 '17.69 ' '16.12 ' '18.84 ' '10.98 ' '19.65 ' '17.74 ' '17.18 ' '19.15 '
 '13.53 ']

In [37]:

df['mileage']=df['mileage'].astype(float)
print(df['mileage'].dtype)

float64

In [38]:
df['mileage'].isna().sum()

160

In [39]:
s4=df['mileage'].fillna(df['mileage'].mean())
s4.isna().sum()

0

In [40]:
df['mileage']=s4

In [41]:
df['mileage'].isna().sum()

0

In [42]:
df.columns

Index(['full_name', 'selling_price', 'new_price', 'year', 'km_driven',
       'owner_type', 'mileage', 'engine', 'max_power', 'seats',
       'brand_name_Ambassador', 'brand_name_Audi', 'brand_name_BMW',
       'brand_name_Bentley', 'brand_name_Chevrolet', 'brand_name_DC',
       'brand_name_Daewoo', 'brand_name_Datsun', 'brand_name_Ferrari',
       'brand_name_Fiat', 'brand_name_Force', 'brand_name_Ford',
       'brand_name_Honda', 'brand_name_Hyundai', 'brand_name_ISUZU',
       'brand_name_Isuzu', 'brand_name_Jaguar', 'brand_name_Jeep',
       'brand_name_Kia', 'brand_name_Lamborghini', 'brand_name_Land',
       'brand_name_Lexus', 'brand_name_MG', 'brand_name_Mahindra',
       'brand_name_Maruti', 'brand_name_Maserati', 'brand_name_Mercedes-AMG',
       'brand_name_Mercedes-Benz', 'brand_name_Mini', 'brand_name_Mitsubishi',
       'brand_name_Nissan', 'brand_name_Opel', 'brand_name_OpelCorsa',
       'brand_name_Porsche', 'brand_name_Premier', 'brand_name_Renault',
       'brand_name_Rolls-Royce', 'brand_name_Skoda', 'brand_name_Tata',
       'brand_name_Toyota', 'brand_name_Volkswagen', 'brand_name_Volvo',
       'price', 'car_age', 'seller_type_Dealer', 'seller_type_Individual',
       'seller_type_Trustmark Dealer', 'fuel_type_CNG', 'fuel_type_Diesel',
       'fuel_type_Electric', 'fuel_type_LPG', 'fuel_type_Petrol',
       'transmission_type_Automatic', 'transmission_type_Manual'],
      dtype='object')

### 3.9 'engine'

In [43]:
print(df['engine'].nunique())
print(df['engine'].unique())
print(df['engine'].value_counts())
print(df['engine'].isna().sum())
print(df['engine'].dtype)

169
['Engine796 CC' 'Engine1197 CC' 'Engine998 CC' 'Engine1498 CC'
 'Engine1493 CC' 'Engine1405 CC' 'Engine1461 CC' 'Engine1198 CC'
 'Engine1582 CC' 'Engine1998 CC' 'Engine1248 CC' 'Engine2143 CC'
 'Engine2494 CC' 'Engine1598 CC' 'Engine2179 CC' 'Engine1497 CC'
 'Engine2523 CC' 'Engine2982 CC' 'Engine999 CC' 'Engine1199 CC'
 'Engine1086 CC' 'Engine2498 CC' 'Engine1396 CC' 'Engine1817 CC'
 'Engine624 CC' 'Engine1496 CC' 'Engine1590 CC' 'Engine1798 CC'
 'Engine1186 CC' 'Engine1794 CC' 'Engine1997 CC' 'Engine1120 CC'
 'Engine1196 CC' 'Engine1061 CC' 'Engine909 CC' 'Engine799 CC'
 'Engine1796 CC' 'Engine936 CC' 'Engine1364 CC' 'Engine2199 CC'
 'Engine2993 CC' 'Engine1298 CC' 'Engine3198 CC' 'Engine1399 CC'
 'Engine2477 CC' 'Engine1995 CC' 'Engine2956 CC' 'Engine1373 CC'
 'Engine1591 CC' 'Engine2354 CC' 'Engine1968 CC' 'Engine1047 CC'
 'Engine1353 CC' 'Engine1991 CC' 'Engine2755 CC' 'Engine1395 CC'
 'Engine1193 CC' 'Engine1896 CC' 'Engine1999 CC' 'Engine2953 CC'
 'Engine2393 CC' 'Engine2967 CC' 'Engine2998 CC' 'Engine2995 CC'
 'Engine2694 CC' 'Engine4461 CC' 'Engine1586 CC' 'Engine6752 CC'
 'Engine1956 CC' 'Engine1462 CC' 'Engine814 CC' 'Engine995 CC'
 'Engine1799 CC' 'Engine2499 CC' 'Engine1451 CC' 'Engine1194 CC'
 'Engine1969 CC' 'Engine2400 CC' nan 'Engine993 CC' 'Engine1150 CC'
 'Engine1299 CC' 'Engine1495 CC' 'Engine2487 CC' 'Engine3604 CC'
 'Engine1499 CC' 'Engine2987 CC' 'Engine970 CC' 'Engine1489 CC'
 'Engine1599 CC' 'Engine2835 CC' 'Engine1172 CC' 'Engine1950 CC'
 'Engine2489 CC' 'Engine2148 CC' 'Engine4134 CC' 'Engine4951 CC'
 'Engine1984 CC' 'Engine2979 CC' 'Engine2609 CC' 'Engine1242 CC'
 'Engine1390 CC' 'Engine2092 CC' 'Engine2997 CC' 'Engine1368 CC'
 'Engine5998 CC' 'Engine1330 CC' 'Engine2359 CC' 'Engine2200 CC'
 'Engine1596 CC' 'Engine3598 CC' 'Engine2362 CC' 'Engine793 CC'
 'Engine2696 CC' 'Engine2112 CC' 'Engine3597 CC' 'Engine1388 CC'
 'Engine72 CC' 'Engine2360 CC' 'Engine5461 CC' 'Engine1343 CC'
 'Engine2446 CC' 'Engine2497 CC' 'Engine1595 CC' 'Engine4367 CC'
 'Engine3498 CC' 'Engine2776 CC' 'Engine1797 CC' 'Engine1422 CC'
 'Engine1985 CC' 'Engine1948 CC' 'Engine2698 CC' 'Engine5204 CC'
 'Engine2231 CC' 'Engine2999 CC' 'Engine1173 CC' 'Engine1108 CC'
 'Engine3855 CC' 'Engine2197 CC' 'Engine1341 CC' 'Engine1994 CC'
 'Engine2902 CC' 'Engine1389 CC' 'Engine4806 CC' 'Engine1468 CC'
 'Engine3189 CC' 'Engine2147 CC' 'Engine4999 CC' 'Engine1597 CC'
 'Engine3200 CC' 'Engine2771 CC' 'Engine2157 CC' 'Engine2706 CC'
 'Engine2349 CC' 'Engine3436 CC' 'Engine3628 CC' 'Engine2198 CC'
 'Engine2996 CC' 'Engine4395 CC' 'Engine2000 CC' 'Engine3456 CC'
 'Engine4663 CC' 'Engine2773 CC' 'Engine6592 CC' 'Engine2184 CC'
 'Engine2495 CC' 'Engine1781 CC' 'Engine4163 CC' 'Engine2453 CC'
 'Engine2596 CC']
Engine1197 CC    2662
Engine1248 CC    2159
Engine998 CC     1303
Engine1498 CC    1253
Engine1497 CC     718
                 ...
Engine5204 CC       1
Engine970 CC        1
Engine1489 CC       1
Engine1330 CC       1
Engine2596 CC       1
Name: engine, Length: 169, dtype: int64
110
object

In [44]:
df['engine'].replace(r'[,*a-zA-Z/]+','',regex=True,inplace=True)

In [45]:
print(df['engine'].nunique())
print(df['engine'].unique())
print(df['engine'].value_counts())
print(df['engine'].isna().sum())
print(df['engine'].dtype)

169
['796 ' '1197 ' '998 ' '1498 ' '1493 ' '1405 ' '1461 ' '1198 ' '1582 '
 '1998 ' '1248 ' '2143 ' '2494 ' '1598 ' '2179 ' '1497 ' '2523 ' '2982 '
 '999 ' '1199 ' '1086 ' '2498 ' '1396 ' '1817 ' '624 ' '1496 ' '1590 '
 '1798 ' '1186 ' '1794 ' '1997 ' '1120 ' '1196 ' '1061 ' '909 ' '799 '
 '1796 ' '936 ' '1364 ' '2199 ' '2993 ' '1298 ' '3198 ' '1399 ' '2477 '
 '1995 ' '2956 ' '1373 ' '1591 ' '2354 ' '1968 ' '1047 ' '1353 ' '1991 '
 '2755 ' '1395 ' '1193 ' '1896 ' '1999 ' '2953 ' '2393 ' '2967 ' '2998 '
 '2995 ' '2694 ' '4461 ' '1586 ' '6752 ' '1956 ' '1462 ' '814 ' '995 '
 '1799 ' '2499 ' '1451 ' '1194 ' '1969 ' '2400 ' nan '993 ' '1150 '
 '1299 ' '1495 ' '2487 ' '3604 ' '1499 ' '2987 ' '970 ' '1489 ' '1599 '
 '2835 ' '1172 ' '1950 ' '2489 ' '2148 ' '4134 ' '4951 ' '1984 ' '2979 '
 '2609 ' '1242 ' '1390 ' '2092 ' '2997 ' '1368 ' '5998 ' '1330 ' '2359 '
 '2200 ' '1596 ' '3598 ' '2362 ' '793 ' '2696 ' '2112 ' '3597 ' '1388 '
 '72 ' '2360 ' '5461 ' '1343 ' '2446 ' '2497 ' '1595 ' '4367 ' '3498 '
 '2776 ' '1797 ' '1422 ' '1985 ' '1948 ' '2698 ' '5204 ' '2231 ' '2999 '
 '1173 ' '1108 ' '3855 ' '2197 ' '1341 ' '1994 ' '2902 ' '1389 ' '4806 '
 '1468 ' '3189 ' '2147 ' '4999 ' '1597 ' '3200 ' '2771 ' '2157 ' '2706 '
 '2349 ' '3436 ' '3628 ' '2198 ' '2996 ' '4395 ' '2000 ' '3456 ' '4663 '
 '2773 ' '6592 ' '2184 ' '2495 ' '1781 ' '4163 ' '2453 ' '2596 ']
1197     2662
1248     2159
998      1303
1498     1253
1497      718
         ...
5204        1
970         1
1489        1
1330        1
2596        1
Name: engine, Length: 169, dtype: int64
110
object

In [46]:
df['engine']=df['engine'].astype(float)
df['engine']=df['engine'].fillna(df['engine'].mean())

In [47]:
print(df['engine'].isna().sum())
print(df['engine'].dtype)

0
float64

In [48]:
df.columns

Index(['full_name', 'selling_price', 'new_price', 'year', 'km_driven',
       'owner_type', 'mileage', 'engine', 'max_power', 'seats',
       'brand_name_Ambassador', 'brand_name_Audi', 'brand_name_BMW',
       'brand_name_Bentley', 'brand_name_Chevrolet', 'brand_name_DC',
       'brand_name_Daewoo', 'brand_name_Datsun', 'brand_name_Ferrari',
       'brand_name_Fiat', 'brand_name_Force', 'brand_name_Ford',
       'brand_name_Honda', 'brand_name_Hyundai', 'brand_name_ISUZU',
       'brand_name_Isuzu', 'brand_name_Jaguar', 'brand_name_Jeep',
       'brand_name_Kia', 'brand_name_Lamborghini', 'brand_name_Land',
       'brand_name_Lexus', 'brand_name_MG', 'brand_name_Mahindra',
       'brand_name_Maruti', 'brand_name_Maserati', 'brand_name_Mercedes-AMG',
       'brand_name_Mercedes-Benz', 'brand_name_Mini', 'brand_name_Mitsubishi',
       'brand_name_Nissan', 'brand_name_Opel', 'brand_name_OpelCorsa',
       'brand_name_Porsche', 'brand_name_Premier', 'brand_name_Renault',
       'brand_name_Rolls-Royce', 'brand_name_Skoda', 'brand_name_Tata',
       'brand_name_Toyota', 'brand_name_Volkswagen', 'brand_name_Volvo',
       'price', 'car_age', 'seller_type_Dealer', 'seller_type_Individual',
       'seller_type_Trustmark Dealer', 'fuel_type_CNG', 'fuel_type_Diesel',
       'fuel_type_Electric', 'fuel_type_LPG', 'fuel_type_Petrol',
       'transmission_type_Automatic', 'transmission_type_Manual'],
      dtype='object')

### 3.10 max_power

In [49]:
print(df['max_power'].nunique())
print(df['max_power'].unique())
print(df['max_power'].value_counts())
print(df['max_power'].isna().sum())
print(df['max_power'].dtype)

493
['Max Power46.3 bhp' 'Max Power82 bhp' 'Max Power80 bhp'
 'Max Power67.1 bhp' 'Max Power98.59 bhp' 'Max Power78.9 bhp'
 'Max Power67.04 bhp' 'Max Power118.35 bhp' 'Max Power100 bhp'
 'Max Power69.01 bhp' 'Max Power108.49 bhp' 'Max Power85 bhp'
 'Max Power76 bhp' 'Max Power126.32 bhp' 'Max Power108.45 bhp'
 'Max Power189.08 bhp' 'Max Power88.5 bhp' 'Max Power74 bhp'
 'Max Power170 bhp' 'Max Power100.6 bhp' 'Max Power83.1 bhp'
 'Max Power83.14 bhp' 'Max Power103.2 bhp' 'Max Power126.2 bhp'
 'Max Power118.3 bhp' 'Max Power117.3 bhp' 'Max Power63 bhp'
 'Max Power78 bhp' 'Max Power81.86 bhp' 'Max Power168.5 bhp'
 'Max Power67 bhp' 'Max Power88.76 bhp' 'Max Power62.1 bhp'
 'Max Power140 bhp' 'Max Power112 bhp' 'Max Power88.73 bhp'
 'Max Power81.83 bhp' 'Max Power37 bhp' 'Max Power69 bhp'
 'Max Power91.7 bhp' 'Max Power75 bhp' nan 'Max Power74.96 bhp'
 'Max Power35 bhp' 'Max Power94 bhp' 'Max Power81.80 bhp'
 'Max Power138.1 bhp' 'Max Power58.16 bhp' 'Max Power68 bhp'
 'Max Power126.3 bhp' 'Max Power70 bhp' 'Max Power73.97 bhp'
 'Max Power34.2 bhp' 'Max Power120 bhp' 'Max Power103.6 bhp'
 'Max Power121 bhp' 'Max Power113.42 bhp' 'Max Power152.87 bhp'
 'Max Power86.8 bhp' 'Max Power86.7 bhp' 'Max Power64 bhp'
 'Max Power45 bhp' 'Max Power116.3 bhp' 'Max Power53.3 bhp'
 'Max Power82.9 bhp' 'Max Power84 bhp' 'Max Power186 bhp'
 'Max Power98.6 bhp' 'Max Power113.4 bhp' 'Max Power47.3 bhp'
 'Max Power90 bhp' 'Max Power56.3 bhp' 'Max Power85.8 bhp'
 'Max Power67.05 bhp' 'Max Power73.9 bhp' 'Max Power82.85 bhp'
 'Max Power98.96 bhp' 'Max Power83.8 bhp' 'Max Power194.3 bhp'
 'Max Power68.05 bhp' 'Max Power261.49 bhp' 'Max Power76.8 bhp'
 'Max Power74.02 bhp' 'Max Power99 bhp' 'Max Power153.86 bhp'
 'Max Power197 bhp' 'Max Power77 bhp' 'Max Power92.7 bhp'
 'Max Power88.7 bhp' 'Max Power61.7 bhp' 'Max Power82.4 bhp'
 'Max Power175.56 bhp' 'Max Power190 bhp' 'Max Power85.80 bhp'
 'Max Power83.83 bhp' 'Max Power91.1 bhp' 'Max Power121.3 bhp'
 'Max Power177.6 bhp' 'Max Power118 bhp' 'Max Power188 bhp'
 'Max Power147.51 bhp' 'Max Power88.8 bhp' 'Max Power138 bhp'
 'Max Power105.5 bhp' 'Max Power174.33 bhp' 'Max Power88.50 bhp'
 'Max Power84.8 bhp' 'Max Power63.1 bhp' 'Max Power67.06 bhp'
 'Max Power375.48 bhp' 'Max Power87.2 bhp' 'Max Power53.26 bhp'
 'Max Power174.5 bhp' 'Max Power115 bhp' 'Max Power105 bhp'
 'Max Power71 bhp' 'Max Power89.84 bhp' 'Max Power56 bhp'
 'Max Power117.6 bhp' 'Max Power64.4 bhp' 'Max Power138.03 bhp'
 'Max Power91.72 bhp' 'Max Power177 bhp' 'Max Power88.51 bhp'
 'Max Power73 bhp' 'Max Power108.5 bhp' 'Max Power185 bhp'
 'Max Power237.36 bhp' 'Max Power241.4 bhp' 'Max Power57.6 bhp'
 'Max Power83.11 bhp' 'Max Power79.4 bhp' 'Max Power335 bhp'
 'Max Power58.33 bhp' 'Max Power335.25 bhp' 'Max Power148 bhp'
 'Max Power163.05 bhp' 'Max Power254.7 bhp' 'Max Power285.4 bhp'
 'Max Power123.24 bhp' 'Max Power187.7 bhp' 'Max Power204 bhp'
 'Max Power265 bhp' 'Max Power136 bhp' 'Max Power104.68 bhp'
 'Max Power53 bhp' 'Max Power505 bhp' 'Max Power167.68 bhp'
 'Max Power171 bhp' 'Max Power121.36 bhp' 'Max Power103.26 bhp'
 'Max Power97.6 bhp' 'Max Power147.8 bhp' 'Max Power55.2 bhp'
 'Max Power73.75 bhp' 'Max Power201.15 bhp' 'Max Power62 bhp'
 'Max Power130.2 bhp' 'Max Power175.6 bhp' 'Max Power134 bhp'
 'Max Power103 bhp' 'Max Power141 bhp' 'Max Power203 bhp'
 'Max Power110 bhp' 'Max Power240 bhp' 'Max Power184 bhp'
 'Max Power168.7 bhp' 'Max Power103.52 bhp' 'Max Power94.68 bhp'
 'Max Power157.8 bhp' 'Max Power147.9 bhp' 'Max Power103.3 bhp'
 'Max Power143 bhp' 'Max Power58.2 bhp' 'Max Power65.3 bhp'
 'Max Power163.7 bhp' 'Max Power120.69 bhp' 'Max Power40.3 bhp'
 'Max Power66.1 bhp' 'Max Power147.5 bhp' 'Max Power215 bhp'
 'Max Power99.6 bhp' 'Max Power171.5 bhp' 'Max Power108.6 bhp'
 'Max Power183 bhp' 'Max Power103.5 bhp' 'Max Power91.2 bhp'
 'Max Power53.64 bhp' 'Max Power181 bhp' 'Max Power241.6 bhp'
 'Max Power37.5 bhp' 'Max Power53.5 bhp' 'Max Power187.74 bhp'
 'Max Power60 bhp' 'Max Power93.87 bhp' 'Max Power74.9 bhp'
 'Max Power214.56 bhp' 'Max Power280 bhp' 'Max Power214.5 bhp'
 'Max Power126.24 bhp' 'Max Power74.93 bhp' 'Max Power108.62 bhp'
 'Max Power254.8 bhp' 'Max Power63.9 bhp' 'Max Power107.2 bhp'
 'Max Power167.62 bhp' 'Max Power355.37 bhp' 'Max Power187.4 bhp'
 'Max Power118.6 bhp' 'Max Power73.94 bhp' 'Max Power191.7 bhp'
 'Max Power152 bhp' 'Max Power63.12 bhp' 'Max Power93.7 bhp'
 'Max Power64.1 bhp' 'Max Power110.4 bhp' 'Max Power258 bhp'
 'Max Power88.2 bhp' 'Max Power140.8 bhp' 'Max Power57.5 bhp'
 'Max Power149.92 bhp' 'Max Power138.08 bhp' 'Max Power88 bhp'
 'Max Power224 bhp' 'Max Power68.1 bhp' 'Max Power60.2 bhp'
 'Max Power103.25 bhp' 'Max Power335.2 bhp' 'Max Power395 bhp'
 'Max Power48.21 bhp' 'Max Power200 bhp' 'Max Power241.3 bhp'
 'Max Power321 bhp' 'Max Power271 bhp' 'Max Power127 bhp'
 'Max Power52.8 bhp' 'Max Power313 bhp' 'Max Power218 bhp'
 'Max Power102 bhp' 'Max Power68.07 bhp' 'Max Power145 bhp'
 'Max Power157.7 bhp' 'Max Power72 bhp' 'Max Power119.35 bhp'
 'Max Power121.31 bhp' 'Max Power626 bhp' 'Max Power130 bhp'
 'Max Power197.2 bhp' 'Max Power420 bhp' 'Max Power107.3 bhp'
 'Max Power147.94 bhp' 'Max Power37.48 bhp' 'Max Power153.87 bhp'
 'Max Power254.79 bhp' 'Max Power177.46 bhp' 'Max Power198.25 bhp'
 'Max Power139.01 bhp' 'Max Power101 bhp' 'Max Power142 bhp'
 'Max Power300 bhp' 'Max Power164.7 bhp' 'Max Power180 bhp'
 'Max Power121.4 bhp' 'Max Power97.7 bhp' 'Max Power78.8 bhp'
 'Max Power95 bhp' 'Max Power47 bhp' 'Max Power98.63 bhp'
 'Max Power169 bhp' 'Max Power94.93 bhp' 'Max Power73.74 bhp'
 'Max Power80.9 bhp' 'Max Power178 bhp' 'Max Power66.6 bhp'
 'Max Power93 bhp' 'Max Power98.82 bhp' 'Max Power160 bhp'
 'Max Power139.46 bhp' 'Max Power160.77 bhp' 'Max Power271.23 bhp'
 'Max Power38.4 bhp' 'Max Power99.23 bhp' 'Max Power80.46 bhp'
 'Max Power148.31 bhp' 'Max Power106 bhp' 'Max Power72.4 bhp'
 'Max Power102.5 bhp' 'Max Power132 bhp' 'Max Power201.1 bhp'
 'Max Power260.0 bhp' 'Max Power189 bhp' 'Max Power125 bhp'
 'Max Power168 bhp' 'Max Power167.6 bhp' 'Max Power41.57 bhp'
 'Max Power91.19 bhp' 'Max Power178.4 bhp' 'Max Power134.1 bhp'
 'Max Power162 bhp' 'Max Power141.1 bhp' 'Max Power177.5 bhp'
 'Max Power362.9 bhp' 'Max Power76.9 bhp' 'Max Power65 bhp'
 'Max Power282 bhp' 'Max Power58 bhp' 'Max Power83.81 bhp'
 'Max Power165 bhp' 'Max Power150 bhp' 'Max Power70.02 bhp'
 'Max Power73.8 bhp' 'Max Power89.75 bhp' 'Max Power120.33 bhp'
 'Max Power252 bhp' 'Max Power158.2 bhp' 'Max Power192 bhp'
 'Max Power335.3 bhp' 'Max Power306 bhp' 'Max Power175 bhp'
 'Max Power72.42 bhp' 'Max Power157.75 bhp' 'Max Power245 bhp'
 'Max Power97.9 bhp' 'Max Power270.88 bhp' 'Max Power100.57 bhp'
 'Max Power116.4 bhp' 'Max Power203.2 bhp' 'Max Power364.9 bhp'
 'Max Power92 bhp' 'Max Power55 bhp' 'Max Power194 bhp'
 'Max Power123.37 bhp' 'Max Power71.01 bhp' 'Max Power102.57 bhp'
 'Max Power59 bhp' 'Max Power40.23 bhp' 'Max Power181.03 bhp'
 'Max Power120.7 bhp' 'Max Power170.30 bhp' 'Max Power163 bhp'
 'Max Power272 bhp' 'Max Power235 bhp' 'Max Power181.04 bhp'
 'Max Power138.13 bhp' 'Max Power248 bhp' 'Max Power179.5 bhp'
 'Max Power66 bhp' 'Max Power560 bhp' 'Max Power301.73 bhp'
 'Max Power174.3 bhp' 'Max Power108.495 bhp' 'Max Power104.55 bhp'
 'Max Power167.7 bhp' 'Max Power85.7 bhp' 'Max Power173 bhp'
 'Max Power104.5 bhp' 'Max Power178.3 bhp' 'Max Power64.08 bhp'
 'Max Power123.7 bhp' 'Max Power120.6 bhp' 'Max Power154 bhp'
 'Max Power246.7 bhp' 'Max Power105.94 bhp' 'Max Power244.1 bhp'
 'Max Power429 bhp' 'Max Power237.4 bhp' 'Max Power210 bhp'
 'Max Power271.2 bhp' 'Max Power198.5 bhp' 'Max Power99.61 bhp'
 'Max Power135.1 bhp' 'Max Power75.6 bhp' 'Max Power308.43 bhp'
 'Max Power270.9 bhp' 'Max Power249 bhp' 'Max Power116.6 bhp'
 'Max Power57 bhp' 'Max Power601 bhp' 'Max Power301.8 bhp'
 'Max Power255 bhp' 'Max Power261.4 bhp' 'Max Power38 bhp'
 'Max Power112.4 bhp' 'Max Power328.5 bhp' 'Max Power83 bhp'
 'Max Power104 bhp' 'Max Power147.6 bhp' 'Max Power98.79 bhp'
 'Max Power105.3 bhp' 'Max Power155 bhp' 'Max Power108 bhp'
 'Max Power61.6 bhp' 'Max Power35.5 bhp' 'Max Power122.4 bhp'
 'Max Power100.5 bhp' 'Max Power394.3 bhp' 'Max Power189.3 bhp'
 'Max Power144 bhp' 'Max Power246 bhp' 'Max Power161 bhp'
 'Max Power109 bhp' 'Max Power507 bhp' 'Max Power98 bhp'
 'Max Power375.5 bhp' 'Max Power170.6 bhp' 'Max Power167.67 bhp'
 'Max Power199.3 bhp' 'Max Power130.3 bhp' 'Max Power241.38 bhp'
 'Max Power139 bhp' 'Max Power193.1 bhp' 'Max Power97.89 bhp'
 'Max Power178.49 bhp' 'Max Power134.10 bhp' 'Max Power161.6 bhp'
 'Max Power52 bhp' 'Max Power98.97 bhp' 'Max Power86.79 bhp'
 'Max Power84.48 bhp' 'Max Power170.63 bhp' 'Max Power82.5 bhp'
 'Max Power208 bhp' 'Max Power271.72 bhp' 'Max Power112.44 bhp'
 'Max Power308 bhp' 'Max Power84.82 bhp' 'Max Power158 bhp'
 'Max Power76.43 bhp' 'Max Power68.4 bhp' 'Max Power61 bhp'
 'Max Power301.72 bhp' 'Max Power221.3 bhp' 'Max Power147.4 bhp'
 'Max Power25.4 bhp' 'Max Power333 bhp' 'Max Power500 bhp'
 'Max Power97.8 bhp' 'Max Power315 bhp' 'Max Power182.46 bhp'
 'Max Power362.07 bhp' 'Max Power440 bhp' 'Max Power58.3 bhp'
 'Max Power388 bhp' 'Max Power450 bhp' 'Max Power362 bhp'
 'Max Power250 bhp' 'Max Power258.81 bhp' 'Max Power459 bhp'
 'Max Power151.89 bhp' 'Max Power113.98 bhp' 'Max Power600 bhp'
 'Max Power59.18 bhp' 'Max Power360 bhp' 'Max Power246.74 bhp'
 'Max Power245.4 bhp' 'Max Power197.13 bhp' 'Max Power158.8 bhp'
 'Max Power355.4 bhp' 'Max Power261.5 bhp' 'Max Power236 bhp'
 'Max Power340 bhp' 'Max Power97.90 bhp' 'Max Power194.4 bhp'
 'Max Power201 bhp' 'Max Power103.56 bhp' 'Max Power65.39 bhp'
 'Max Power563 bhp' 'Max Power296 bhp' 'Max Power248.08 bhp'
 'Max Power163.2 bhp' 'Max Power156 bhp' 'Max Power75.94 bhp'
 'Max Power207 bhp' 'Max Power64.9 bhp' 'Max Power385 bhp'
 'Max Power423.7 bhp' 'Max Power402 bhp' 'Max Power25.5 bhp'
 'Max Power114 bhp' 'Max Power231.1 bhp' 'Max Power174.57 bhp'
 'Max Power152.88 bhp' 'Max Power552 bhp' 'Max Power575 bhp'
 'Max Power80.8 bhp' 'Max Power241 bhp' 'Max Power130.1 bhp'
 'Max Power119.3 bhp' 'Max Power114.4 bhp' 'Max Power86.80 bhp'
 'Max Power259 bhp' 'Max Power75.10 bhp' 'Max Power349.5 bhp'
 'Max Power177.01 bhp']
Max Power74 bhp        867
Max Power88.5 bhp      615
Max Power81.80 bhp     544
Max Power98.6 bhp      479
Max Power67.04 bhp     468
                      ...
Max Power507 bhp         1
Max Power246 bhp         1
Max Power420 bhp         1
Max Power122.4 bhp       1
Max Power177.01 bhp      1
Name: max_power, Length: 493, dtype: int64
337
object

In [50]:
df['max_power'].replace(r'[,*a-zA-Z/]+','',regex=True,inplace=True)
print(df['max_power'].unique())

[' 46.3 ' ' 82 ' ' 80 ' ' 67.1 ' ' 98.59 ' ' 78.9 ' ' 67.04 ' ' 118.35 '
 ' 100 ' ' 69.01 ' ' 108.49 ' ' 85 ' ' 76 ' ' 126.32 ' ' 108.45 '
 ' 189.08 ' ' 88.5 ' ' 74 ' ' 170 ' ' 100.6 ' ' 83.1 ' ' 83.14 ' ' 103.2 '
 ' 126.2 ' ' 118.3 ' ' 117.3 ' ' 63 ' ' 78 ' ' 81.86 ' ' 168.5 ' ' 67 '
 ' 88.76 ' ' 62.1 ' ' 140 ' ' 112 ' ' 88.73 ' ' 81.83 ' ' 37 ' ' 69 '
 ' 91.7 ' ' 75 ' nan ' 74.96 ' ' 35 ' ' 94 ' ' 81.80 ' ' 138.1 ' ' 58.16 '
 ' 68 ' ' 126.3 ' ' 70 ' ' 73.97 ' ' 34.2 ' ' 120 ' ' 103.6 ' ' 121 '
 ' 113.42 ' ' 152.87 ' ' 86.8 ' ' 86.7 ' ' 64 ' ' 45 ' ' 116.3 ' ' 53.3 '
 ' 82.9 ' ' 84 ' ' 186 ' ' 98.6 ' ' 113.4 ' ' 47.3 ' ' 90 ' ' 56.3 '
 ' 85.8 ' ' 67.05 ' ' 73.9 ' ' 82.85 ' ' 98.96 ' ' 83.8 ' ' 194.3 '
 ' 68.05 ' ' 261.49 ' ' 76.8 ' ' 74.02 ' ' 99 ' ' 153.86 ' ' 197 ' ' 77 '
 ' 92.7 ' ' 88.7 ' ' 61.7 ' ' 82.4 ' ' 175.56 ' ' 190 ' ' 85.80 '
 ' 83.83 ' ' 91.1 ' ' 121.3 ' ' 177.6 ' ' 118 ' ' 188 ' ' 147.51 '
 ' 88.8 ' ' 138 ' ' 105.5 ' ' 174.33 ' ' 88.50 ' ' 84.8 ' ' 63.1 '
 ' 67.06 ' ' 375.48 ' ' 87.2 ' ' 53.26 ' ' 174.5 ' ' 115 ' ' 105 ' ' 71 '
 ' 89.84 ' ' 56 ' ' 117.6 ' ' 64.4 ' ' 138.03 ' ' 91.72 ' ' 177 '
 ' 88.51 ' ' 73 ' ' 108.5 ' ' 185 ' ' 237.36 ' ' 241.4 ' ' 57.6 '
 ' 83.11 ' ' 79.4 ' ' 335 ' ' 58.33 ' ' 335.25 ' ' 148 ' ' 163.05 '
 ' 254.7 ' ' 285.4 ' ' 123.24 ' ' 187.7 ' ' 204 ' ' 265 ' ' 136 '
 ' 104.68 ' ' 53 ' ' 505 ' ' 167.68 ' ' 171 ' ' 121.36 ' ' 103.26 '
 ' 97.6 ' ' 147.8 ' ' 55.2 ' ' 73.75 ' ' 201.15 ' ' 62 ' ' 130.2 '
 ' 175.6 ' ' 134 ' ' 103 ' ' 141 ' ' 203 ' ' 110 ' ' 240 ' ' 184 '
 ' 168.7 ' ' 103.52 ' ' 94.68 ' ' 157.8 ' ' 147.9 ' ' 103.3 ' ' 143 '
 ' 58.2 ' ' 65.3 ' ' 163.7 ' ' 120.69 ' ' 40.3 ' ' 66.1 ' ' 147.5 '
 ' 215 ' ' 99.6 ' ' 171.5 ' ' 108.6 ' ' 183 ' ' 103.5 ' ' 91.2 ' ' 53.64 '
 ' 181 ' ' 241.6 ' ' 37.5 ' ' 53.5 ' ' 187.74 ' ' 60 ' ' 93.87 ' ' 74.9 '
 ' 214.56 ' ' 280 ' ' 214.5 ' ' 126.24 ' ' 74.93 ' ' 108.62 ' ' 254.8 '
 ' 63.9 ' ' 107.2 ' ' 167.62 ' ' 355.37 ' ' 187.4 ' ' 118.6 ' ' 73.94 '
 ' 191.7 ' ' 152 ' ' 63.12 ' ' 93.7 ' ' 64.1 ' ' 110.4 ' ' 258 ' ' 88.2 '
 ' 140.8 ' ' 57.5 ' ' 149.92 ' ' 138.08 ' ' 88 ' ' 224 ' ' 68.1 ' ' 60.2 '
 ' 103.25 ' ' 335.2 ' ' 395 ' ' 48.21 ' ' 200 ' ' 241.3 ' ' 321 ' ' 271 '
 ' 127 ' ' 52.8 ' ' 313 ' ' 218 ' ' 102 ' ' 68.07 ' ' 145 ' ' 157.7 '
 ' 72 ' ' 119.35 ' ' 121.31 ' ' 626 ' ' 130 ' ' 197.2 ' ' 420 ' ' 107.3 '
 ' 147.94 ' ' 37.48 ' ' 153.87 ' ' 254.79 ' ' 177.46 ' ' 198.25 '
 ' 139.01 ' ' 101 ' ' 142 ' ' 300 ' ' 164.7 ' ' 180 ' ' 121.4 ' ' 97.7 '
 ' 78.8 ' ' 95 ' ' 47 ' ' 98.63 ' ' 169 ' ' 94.93 ' ' 73.74 ' ' 80.9 '
 ' 178 ' ' 66.6 ' ' 93 ' ' 98.82 ' ' 160 ' ' 139.46 ' ' 160.77 '
 ' 271.23 ' ' 38.4 ' ' 99.23 ' ' 80.46 ' ' 148.31 ' ' 106 ' ' 72.4 '
 ' 102.5 ' ' 132 ' ' 201.1 ' ' 260.0 ' ' 189 ' ' 125 ' ' 168 ' ' 167.6 '
 ' 41.57 ' ' 91.19 ' ' 178.4 ' ' 134.1 ' ' 162 ' ' 141.1 ' ' 177.5 '
 ' 362.9 ' ' 76.9 ' ' 65 ' ' 282 ' ' 58 ' ' 83.81 ' ' 165 ' ' 150 '
 ' 70.02 ' ' 73.8 ' ' 89.75 ' ' 120.33 ' ' 252 ' ' 158.2 ' ' 192 '
 ' 335.3 ' ' 306 ' ' 175 ' ' 72.42 ' ' 157.75 ' ' 245 ' ' 97.9 '
 ' 270.88 ' ' 100.57 ' ' 116.4 ' ' 203.2 ' ' 364.9 ' ' 92 ' ' 55 ' ' 194 '
 ' 123.37 ' ' 71.01 ' ' 102.57 ' ' 59 ' ' 40.23 ' ' 181.03 ' ' 120.7 '
 ' 170.30 ' ' 163 ' ' 272 ' ' 235 ' ' 181.04 ' ' 138.13 ' ' 248 '
 ' 179.5 ' ' 66 ' ' 560 ' ' 301.73 ' ' 174.3 ' ' 108.495 ' ' 104.55 '
 ' 167.7 ' ' 85.7 ' ' 173 ' ' 104.5 ' ' 178.3 ' ' 64.08 ' ' 123.7 '
 ' 120.6 ' ' 154 ' ' 246.7 ' ' 105.94 ' ' 244.1 ' ' 429 ' ' 237.4 '
 ' 210 ' ' 271.2 ' ' 198.5 ' ' 99.61 ' ' 135.1 ' ' 75.6 ' ' 308.43 '
 ' 270.9 ' ' 249 ' ' 116.6 ' ' 57 ' ' 601 ' ' 301.8 ' ' 255 ' ' 261.4 '
 ' 38 ' ' 112.4 ' ' 328.5 ' ' 83 ' ' 104 ' ' 147.6 ' ' 98.79 ' ' 105.3 '
 ' 155 ' ' 108 ' ' 61.6 ' ' 35.5 ' ' 122.4 ' ' 100.5 ' ' 394.3 ' ' 189.3 '
 ' 144 ' ' 246 ' ' 161 ' ' 109 ' ' 507 ' ' 98 ' ' 375.5 ' ' 170.6 '
 ' 167.67 ' ' 199.3 ' ' 130.3 ' ' 241.38 ' ' 139 ' ' 193.1 ' ' 97.89 '
 ' 178.49 ' ' 134.10 ' ' 161.6 ' ' 52 ' ' 98.97 ' ' 86.79 ' ' 84.48 '
 ' 170.63 ' ' 82.5 ' ' 208 ' ' 271.72 ' ' 112.44 ' ' 308 ' ' 84.82 '
 ' 158 ' ' 76.43 ' ' 68.4 ' ' 61 ' ' 301.72 ' ' 221.3 ' ' 147.4 ' ' 25.4 '
 ' 333 ' ' 500 ' ' 97.8 ' ' 315 ' ' 182.46 ' ' 362.07 ' ' 440 ' ' 58.3 '
 ' 388 ' ' 450 ' ' 362 ' ' 250 ' ' 258.81 ' ' 459 ' ' 151.89 ' ' 113.98 '
 ' 600 ' ' 59.18 ' ' 360 ' ' 246.74 ' ' 245.4 ' ' 197.13 ' ' 158.8 '
 ' 355.4 ' ' 261.5 ' ' 236 ' ' 340 ' ' 97.90 ' ' 194.4 ' ' 201 '
 ' 103.56 ' ' 65.39 ' ' 563 ' ' 296 ' ' 248.08 ' ' 163.2 ' ' 156 '
 ' 75.94 ' ' 207 ' ' 64.9 ' ' 385 ' ' 423.7 ' ' 402 ' ' 25.5 ' ' 114 '
 ' 231.1 ' ' 174.57 ' ' 152.88 ' ' 552 ' ' 575 ' ' 80.8 ' ' 241 '
 ' 130.1 ' ' 119.3 ' ' 114.4 ' ' 86.80 ' ' 259 ' ' 75.10 ' ' 349.5 '
 ' 177.01 ']

In [51]:
df['max_power']=df['max_power'].astype(float)
df['max_power']=df['max_power'].fillna(df['max_power'].mean())

In [52]:
print(df['max_power'].isna().sum())
print(df['max_power'].dtype)

0
float64

In [53]:
df.columns

Index(['full_name', 'selling_price', 'new_price', 'year', 'km_driven',
       'owner_type', 'mileage', 'engine', 'max_power', 'seats',
       'brand_name_Ambassador', 'brand_name_Audi', 'brand_name_BMW',
       'brand_name_Bentley', 'brand_name_Chevrolet', 'brand_name_DC',
       'brand_name_Daewoo', 'brand_name_Datsun', 'brand_name_Ferrari',
       'brand_name_Fiat', 'brand_name_Force', 'brand_name_Ford',
       'brand_name_Honda', 'brand_name_Hyundai', 'brand_name_ISUZU',
       'brand_name_Isuzu', 'brand_name_Jaguar', 'brand_name_Jeep',
       'brand_name_Kia', 'brand_name_Lamborghini', 'brand_name_Land',
       'brand_name_Lexus', 'brand_name_MG', 'brand_name_Mahindra',
       'brand_name_Maruti', 'brand_name_Maserati', 'brand_name_Mercedes-AMG',
       'brand_name_Mercedes-Benz', 'brand_name_Mini', 'brand_name_Mitsubishi',
       'brand_name_Nissan', 'brand_name_Opel', 'brand_name_OpelCorsa',
       'brand_name_Porsche', 'brand_name_Premier', 'brand_name_Renault',
       'brand_name_Rolls-Royce', 'brand_name_Skoda', 'brand_name_Tata',
       'brand_name_Toyota', 'brand_name_Volkswagen', 'brand_name_Volvo',
       'price', 'car_age', 'seller_type_Dealer', 'seller_type_Individual',
       'seller_type_Trustmark Dealer', 'fuel_type_CNG', 'fuel_type_Diesel',
       'fuel_type_Electric', 'fuel_type_LPG', 'fuel_type_Petrol',
       'transmission_type_Automatic', 'transmission_type_Manual'],
      dtype='object')

### seat

In [54]:
df['seats'].replace(r'[*,a-zA-Z/]+','',regex=True,inplace=True)

In [55]:
print(df['seats'].nunique())
print(df['seats'].unique())
print(df['seats'].value_counts())
print(df['seats'].isna().sum())
print(df['seats'].dtype)

9
['5' '7' '8' '4' '6' nan '2' '9' '10' '14']
5     16585
7      2370
8       443
4       225
6       143
9        72
10       26
2        21
14        2
Name: seats, dtype: int64
87
object

In [56]:
df['seats']=df['seats'].astype(float)
df['seats']=df['seats'].fillna(df['seats'].mean())

In [57]:
print(df['seats'].isna().sum())
print(df['seats'].dtype)

0
float64

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19974 entries, 0 to 19973
Data columns (total 64 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   full_name                     19974 non-null  object
 1   selling_price                 19974 non-null  object
 2   new_price                     9564 non-null   object
 3   year                          19974 non-null  int64
 4   km_driven                     19974 non-null  float64
 5   owner_type                    19974 non-null  object
 6   mileage                       19974 non-null  float64
 7   engine                        19974 non-null  float64
 8   max_power                     19974 non-null  float64
 9   seats                         19974 non-null  float64
 10  brand_name_Ambassador         19974 non-null  uint8
 11  brand_name_Audi               19974 non-null  uint8
 12  brand_name_BMW                19974 non-null  uint8
 13  brand_name_Bentley            19974 non-null  uint8
 14  brand_name_Chevrolet          19974 non-null  uint8
 15  brand_name_DC                 19974 non-null  uint8
 16  brand_name_Daewoo             19974 non-null  uint8
 17  brand_name_Datsun             19974 non-null  uint8
 18  brand_name_Ferrari            19974 non-null  uint8
 19  brand_name_Fiat               19974 non-null  uint8
 20  brand_name_Force              19974 non-null  uint8
 21  brand_name_Ford               19974 non-null  uint8
 22  brand_name_Honda              19974 non-null  uint8
 23  brand_name_Hyundai            19974 non-null  uint8
 24  brand_name_ISUZU              19974 non-null  uint8
 25  brand_name_Isuzu              19974 non-null  uint8
 26  brand_name_Jaguar             19974 non-null  uint8
 27  brand_name_Jeep               19974 non-null  uint8
 28  brand_name_Kia                19974 non-null  uint8
 29  brand_name_Lamborghini        19974 non-null  uint8
 30  brand_name_Land               19974 non-null  uint8
 31  brand_name_Lexus              19974 non-null  uint8
 32  brand_name_MG                 19974 non-null  uint8
 33  brand_name_Mahindra           19974 non-null  uint8
 34  brand_name_Maruti             19974 non-null  uint8
 35  brand_name_Maserati           19974 non-null  uint8
 36  brand_name_Mercedes-AMG       19974 non-null  uint8
 37  brand_name_Mercedes-Benz      19974 non-null  uint8
 38  brand_name_Mini               19974 non-null  uint8
 39  brand_name_Mitsubishi         19974 non-null  uint8
 40  brand_name_Nissan             19974 non-null  uint8
 41  brand_name_Opel               19974 non-null  uint8
 42  brand_name_OpelCorsa          19974 non-null  uint8
 43  brand_name_Porsche            19974 non-null  uint8
 44  brand_name_Premier            19974 non-null  uint8
 45  brand_name_Renault            19974 non-null  uint8
 46  brand_name_Rolls-Royce        19974 non-null  uint8
 47  brand_name_Skoda              19974 non-null  uint8
 48  brand_name_Tata               19974 non-null  uint8
 49  brand_name_Toyota             19974 non-null  uint8
 50  brand_name_Volkswagen         19974 non-null  uint8
 51  brand_name_Volvo              19974 non-null  uint8
 52  price                         19974 non-null  int64
 53  car_age                       19974 non-null  int64
 54  seller_type_Dealer            19974 non-null  uint8
 55  seller_type_Individual        19974 non-null  uint8
 56  seller_type_Trustmark Dealer  19974 non-null  uint8
 57  fuel_type_CNG                 19974 non-null  uint8
 58  fuel_type_Diesel              19974 non-null  uint8
 59  fuel_type_Electric            19974 non-null  uint8
 60  fuel_type_LPG                 19974 non-null  uint8
 61  fuel_type_Petrol              19974 non-null  uint8
 62  transmission_type_Automatic   19974 non-null  uint8
 63  transmission_type_Manual      19974 non-null  uint8
dtypes: float64(5), int64(3), object(4), uint8(52)
memory usage: 2.8+ MB

### step5: Feature Selection

In [59]:
df.columns

Index(['full_name', 'selling_price', 'new_price', 'year', 'km_driven',
       'owner_type', 'mileage', 'engine', 'max_power', 'seats',
       'brand_name_Ambassador', 'brand_name_Audi', 'brand_name_BMW',
       'brand_name_Bentley', 'brand_name_Chevrolet', 'brand_name_DC',
       'brand_name_Daewoo', 'brand_name_Datsun', 'brand_name_Ferrari',
       'brand_name_Fiat', 'brand_name_Force', 'brand_name_Ford',
       'brand_name_Honda', 'brand_name_Hyundai', 'brand_name_ISUZU',
       'brand_name_Isuzu', 'brand_name_Jaguar', 'brand_name_Jeep',
       'brand_name_Kia', 'brand_name_Lamborghini', 'brand_name_Land',
       'brand_name_Lexus', 'brand_name_MG', 'brand_name_Mahindra',
       'brand_name_Maruti', 'brand_name_Maserati', 'brand_name_Mercedes-AMG',
       'brand_name_Mercedes-Benz', 'brand_name_Mini', 'brand_name_Mitsubishi',
       'brand_name_Nissan', 'brand_name_Opel', 'brand_name_OpelCorsa',
       'brand_name_Porsche', 'brand_name_Premier', 'brand_name_Renault',
       'brand_name_Rolls-Royce', 'brand_name_Skoda', 'brand_name_Tata',
       'brand_name_Toyota', 'brand_name_Volkswagen', 'brand_name_Volvo',
       'price', 'car_age', 'seller_type_Dealer', 'seller_type_Individual',
       'seller_type_Trustmark Dealer', 'fuel_type_CNG', 'fuel_type_Diesel',
       'fuel_type_Electric', 'fuel_type_LPG', 'fuel_type_Petrol',
       'transmission_type_Automatic', 'transmission_type_Manual'],
      dtype='object')

In [60]:
final_df=df.drop(['full_name', 'selling_price', 'new_price', 'year','owner_type',],axis=1)
final_df.head()

,km_driven,mileage,engine,max_power,seats,brand_name_Ambassador,brand_name_Audi,brand_name_BMW,brand_name_Bentley,brand_name_Chevrolet,...,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,fuel_type_CNG,fuel_type_Diesel,fuel_type_Electric,fuel_type_LPG,fuel_type_Petrol,transmission_type_Automatic,transmission_type_Manual
0,120000.0,19.70,796.0,46.30,5.0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,1
1,20000.0,18.90,1197.0,82.00,5.0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,1
2,60000.0,17.00,1197.0,80.00,5.0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,1
3,37000.0,20.92,998.0,67.10,5.0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,1
4,30000.0,22.77,1498.0,98.59,5.0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1

In [61]:
final_df.isna().sum()

km_driven                       0
mileage                         0
engine                          0
max_power                       0
seats                           0
brand_name_Ambassador           0
brand_name_Audi                 0
brand_name_BMW                  0
brand_name_Bentley              0
brand_name_Chevrolet            0
brand_name_DC                   0
brand_name_Daewoo               0
brand_name_Datsun               0
brand_name_Ferrari              0
brand_name_Fiat                 0
brand_name_Force                0
brand_name_Ford                 0
brand_name_Honda                0
brand_name_Hyundai              0
brand_name_ISUZU                0
brand_name_Isuzu                0
brand_name_Jaguar               0
brand_name_Jeep                 0
brand_name_Kia                  0
brand_name_Lamborghini          0
brand_name_Land                 0
brand_name_Lexus                0
brand_name_MG                   0
brand_name_Mahindra             0
brand_name_Maruti               0
brand_name_Maserati             0
brand_name_Mercedes-AMG         0
brand_name_Mercedes-Benz        0
brand_name_Mini                 0
brand_name_Mitsubishi           0
brand_name_Nissan               0
brand_name_Opel                 0
brand_name_OpelCorsa            0
brand_name_Porsche              0
brand_name_Premier              0
brand_name_Renault              0
brand_name_Rolls-Royce          0
brand_name_Skoda                0
brand_name_Tata                 0
brand_name_Toyota               0
brand_name_Volkswagen           0
brand_name_Volvo                0
price                           0
car_age                         0
seller_type_Dealer              0
seller_type_Individual          0
seller_type_Trustmark Dealer    0
fuel_type_CNG                   0
fuel_type_Diesel                0
fuel_type_Electric              0
fuel_type_LPG                   0
fuel_type_Petrol                0
transmission_type_Automatic     0
transmission_type_Manual        0
dtype: int64

In [62]:
final_df.dtypes

km_driven                       float64
mileage                         float64
engine                          float64
max_power                       float64
seats                           float64
brand_name_Ambassador             uint8
brand_name_Audi                   uint8
brand_name_BMW                    uint8
brand_name_Bentley                uint8
brand_name_Chevrolet              uint8
brand_name_DC                     uint8
brand_name_Daewoo                 uint8
brand_name_Datsun                 uint8
brand_name_Ferrari                uint8
brand_name_Fiat                   uint8
brand_name_Force                  uint8
brand_name_Ford                   uint8
brand_name_Honda                  uint8
brand_name_Hyundai                uint8
brand_name_ISUZU                  uint8
brand_name_Isuzu                  uint8
brand_name_Jaguar                 uint8
brand_name_Jeep                   uint8
brand_name_Kia                    uint8
brand_name_Lamborghini            uint8
brand_name_Land                   uint8
brand_name_Lexus                  uint8
brand_name_MG                     uint8
brand_name_Mahindra               uint8
brand_name_Maruti                 uint8
brand_name_Maserati               uint8
brand_name_Mercedes-AMG           uint8
brand_name_Mercedes-Benz          uint8
brand_name_Mini                   uint8
brand_name_Mitsubishi             uint8
brand_name_Nissan                 uint8
brand_name_Opel                   uint8
brand_name_OpelCorsa              uint8
brand_name_Porsche                uint8
brand_name_Premier                uint8
brand_name_Renault                uint8
brand_name_Rolls-Royce            uint8
brand_name_Skoda                  uint8
brand_name_Tata                   uint8
brand_name_Toyota                 uint8
brand_name_Volkswagen             uint8
brand_name_Volvo                  uint8
price                             int64
car_age                           int64
seller_type_Dealer                uint8
seller_type_Individual            uint8
seller_type_Trustmark Dealer      uint8
fuel_type_CNG                     uint8
fuel_type_Diesel                  uint8
fuel_type_Electric                uint8
fuel_type_LPG                     uint8
fuel_type_Petrol                  uint8
transmission_type_Automatic       uint8
transmission_type_Manual          uint8
dtype: object

### step6: Model Traning

In [63]:
# Data Splitting
x=final_df.drop('price',axis=1)
y=final_df['price']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=5)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(13981, 58)
(5993, 58)
(13981,)
(5993,)

In [64]:
# Linear Regression
lin_model=LinearRegression()
lin_model.fit(x_train,y_train)

LinearRegression()

### step7: Model Evalution

In [65]:
#testing data 
y_test_predict=lin_model.predict(x_test)
def model_eval(actual,pred):
    mse = mean_squared_error(actual,pred)
    print(f"MSE = {mse}")
    print(f"RMSE = {np.sqrt(mse)}")
    
    mae = mean_absolute_error(actual, pred)
    print(f"MAE = {mae}")
    
    r2 = r2_score(actual,pred)
    print(f"R - Sequared Value = {r2}")
    
model_eval(y_test, y_test_predict)

MSE = 389966438137.83496
RMSE = 624472.9282665782
MAE = 218884.12292085265
R - Sequared Value = 0.612120225271424

In [66]:
#traning data
y_train_predict=lin_model.predict(x_train)
model_eval(y_train,y_train_predict)

MSE = 181247957539.61304
RMSE = 425732.26039332873
MAE = 209893.40101361906
R - Sequared Value = 0.7593019401775254

In [67]:
#from above traning=75% &testing=61 >>>high bias & high variance

### By using KNN ALgorithm:

In [68]:
norm=MinMaxScaler()
norm_x=norm.fit_transform(x)
norm_x

array([[0.03155346, 0.13534483, 0.10838323, ..., 1.        , 0.        ,
        1.        ],
       [0.00523698, 0.12844828, 0.16841317, ..., 1.        , 0.        ,
        1.        ],
       [0.01576357, 0.11206897, 0.16841317, ..., 1.        , 0.        ,
        1.        ],
       ...,
       [0.01760573, 0.14775862, 0.21347305, ..., 0.        , 0.        ,
        1.        ],
       [1.        , 0.10344828, 0.31541916, ..., 0.        , 0.        ,
        1.        ],
       [0.00339483, 0.12068966, 0.21332335, ..., 1.        , 1.        ,
        0.        ]])

In [69]:
x_train,x_test,y_train,y_test=train_test_split(norm_x,y,test_size=0.3,random_state=5)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(13981, 58)
(5993, 58)
(13981,)
(5993,)

In [70]:
#model traning
knn=KNeighborsRegressor()
knn.fit(x_train,y_train)

KNeighborsRegressor()

In [71]:
# Model Evalution
#testing data 
y_test_predict=knn.predict(x_test)
model_eval(y_test, y_test_predict)

MSE = 256281046678.9569
RMSE = 506242.0830778067
MAE = 124636.01114633739
R - Sequared Value = 0.7450902823132128

In [72]:
#traning data
y_train_predict=knn.predict(x_train)
model_eval(y_train,y_train_predict)

MSE = 79075565646.22235
RMSE = 281203.7795731458
MAE = 97022.15742793791
R - Sequared Value = 0.8949873119190843

In [73]:
#from above traning=89% &testing=74 >>>low bias & high variance>>overfitted

### Hypeerparameter of knn

In [74]:
knn_model=KNeighborsRegressor()
hyp={'n_neighbors':np.arange(5,15),'p':[1,2]}
gscv=GridSearchCV(knn_model,hyp,cv=5)
gscv.fit(x_train,y_train)

GridSearchCV(cv=5, estimator=KNeighborsRegressor(),
             param_grid={'n_neighbors': array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14]),
                         'p': [1, 2]})

In [75]:
#  n_neighbors=5,
#     *,
#     weights='uniform',
#     algorithm='auto',
#     leaf_size=30,
#     p=2,
#     metric='minkowski',
#     metric_params=None,
#     n_jobs=None,
# )

In [76]:
gscv.best_estimator_

KNeighborsRegressor(p=1)

In [77]:
gscv.best_params_

{'n_neighbors': 5, 'p': 1}

In [78]:
knn_hyp=gscv.best_estimator_
knn_hyp.fit(x_train,y_train)

KNeighborsRegressor(p=1)

In [79]:
# Model Evalution
#testing data 
y_test_predict=knn_hyp.predict(x_test)
model_eval(y_test, y_test_predict)

MSE = 274305981094.56186
RMSE = 523742.2849976521
MAE = 124787.454864008
R - Sequared Value = 0.7271617971491868

In [80]:
#traning data
y_train_predict=knn_hyp.predict(x_train)
model_eval(y_train,y_train_predict)

MSE = 80360152683.76761
RMSE = 283478.6635423689
MAE = 96366.53873113511
R - Sequared Value = 0.8932813748602202

In [81]:
#from above traning=89% &testing=72>>>low bias & high variance>>overfitted

### By Using Decision tree

In [82]:
x=final_df.drop('price',axis=1)
y=final_df['price']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=5)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(13981, 58)
(5993, 58)
(13981,)
(5993,)

In [83]:
dt=DecisionTreeRegressor()
dt.fit(x_train,y_train)

DecisionTreeRegressor()

In [84]:
# Model Evalution
#testing data 
y_test_predict=dt.predict(x_test)
model_eval(y_test, y_test_predict)

MSE = 312174368500.6117
RMSE = 558725.6647949973
MAE = 142541.21710328717
R - Sequared Value = 0.6894960389200098

In [85]:
#traning data
y_train_predict=dt.predict(x_train)
model_eval(y_train,y_train_predict)

MSE = 321951661.77869254
RMSE = 17943.011502495687
MAE = 4129.931647712372
R - Sequared Value = 0.9995724468214776

In [86]:
#from above traning=99% &testing=81>>>low bias & high variance>>overfitted

### hypertune by decision tree

In [89]:
dt_model=DecisionTreeRegressor(random_state=7)
hyp={'criterion':['squared_error','absolute_error'],'max_depth':np.arange(3,7),
    'min_samples_split':np.arange(5,7),'min_samples_leaf':np.arange(7,8),}

rscv=RandomizedSearchCV(dt_model,hyp,cv=7)
rscv.fit(x_train,y_train)

RandomizedSearchCV(cv=7, estimator=DecisionTreeRegressor(random_state=7),
                   param_distributions={'criterion': ['squared_error',
                                                      'absolute_error'],
                                        'max_depth': array([3, 4, 5, 6]),
                                        'min_samples_leaf': array([7]),
                                        'min_samples_split': array([5, 6])})

In [ ]:
# criterion='squared_error',
#     splitter='best',
#     max_depth=None,
#     min_samples_split=2,
#     min_samples_leaf=1,
#     min_weight_fraction_leaf=0.0,
#     max_features=None,
#     random_state=None,
#     max_leaf_nodes=None,
#     min_impurity_decrease=0.0,
#     ccp_alpha=0.0,
# )

In [90]:
rscv.best_estimator_

DecisionTreeRegressor(max_depth=6, min_samples_leaf=7, min_samples_split=6,
                      random_state=7)

In [91]:
dt_hyp=rscv.best_estimator_
dt_hyp.fit(x_train,y_train)

DecisionTreeRegressor(max_depth=6, min_samples_leaf=7, min_samples_split=6,
                      random_state=7)

In [92]:
# Model Evalution
#testing data 
y_test_predict=dt_hyp.predict(x_test)
model_eval(y_test, y_test_predict)

MSE = 292343616961.5856
RMSE = 540688.0958201184
MAE = 170509.04071590013
R - Sequared Value = 0.7092206784976778

In [93]:
#traning data
y_train_predict=dt_hyp.predict(x_train)
model_eval(y_train,y_train_predict)

MSE = 103910015198.55235
RMSE = 322350.7642282741
MAE = 152680.31987644386
R - Sequared Value = 0.8620070571060141

In [94]:
#from above traning=93% &testing=74>>>low bias & high variance>>overfitted

### By using Random Forest

In [95]:
rf=RandomForestRegressor(random_state=3)
rf.fit(x_train,y_train)

RandomForestRegressor(random_state=3)

In [96]:
# Model Evalution
#testing data 
y_test_predict=rf.predict(x_test)
model_eval(y_test, y_test_predict)

MSE = 206275139966.06183
RMSE = 454175.23046293686
MAE = 110125.68806198362
R - Sequared Value = 0.7948286134463147

In [97]:
#traning data
y_train_predict=rf.predict(x_train)
model_eval(y_train,y_train_predict)

MSE = 11212894568.343557
RMSE = 105890.95602714879
MAE = 40690.31192980313
R - Sequared Value = 0.9851092282405203

In [98]:
#from above traning=98% &testing=79>>>low bias & high variance>>overfitted

### hypertune by random forest

In [100]:
# rf=RandomForestRegressor(random_state=10)
# hyp={'n_estimators':np.arange(50,500,10),'criterion':['squared_error','absolute_error'],'max_depth':np.arange(5,9),
#     'min_samples_split':np.arange(3,8),'min_samples_leaf':np.arange(5,8),'bootstrap':[True,False],
#     'oob_score':[False,True]}
# rscv=RandomizedSearchCV(rf,hyp,cv=5)
# rscv.fit(x_train,y_train)

    n_estimators=100,
    *,
    criterion='squared_error',
    max_depth=None,
    min_samples_split=2,
    min_samples_leaf=1,
    min_weight_fraction_leaf=0.0,
    max_features=1.0,
    max_leaf_nodes=None,
    min_impurity_decrease=0.0,
    bootstrap=True,
    oob_score=False,
    n_jobs=None,
    random_state=None,
    verbose=0,
    warm_start=False,
    ccp_alpha=0.0,
    max_samples=None,
)

In [ ]:
rscv=

In [ ]:
rf_hyp=

In [ ]:
# Model Evalution
#testing data 
y_test_predict=rf.predict(x_test)
model_eval(y_test, y_test_predict)

In [ ]:
#traning data
y_train_predict=rf.predict(x_train)
model_eval(y_train,y_train_predict)

In [ ]:
#from above traning=89% &testing=72>>>low bias & high variance>>overfitted
#from above traning=89% &testing=74 >>>low bias & high variance>>overfitted
#from above traning=99% &testing=81>>>low bias & high variance>>overfitted
#from above traning=93% &testing=74>>>low bias & high variance>>overfitted
#from above traning=75% &testing=61 >>>high bias & high variance
#from above traning=98% &testing=79>>>low bias & high variance>>overfitted

In [101]:
col_list=list(x.columns)
col_dict={'column':col_list}
col_dict

{'column': ['km_driven',
  'mileage',
  'engine',
  'max_power',
  'seats',
  'brand_name_Ambassador',
  'brand_name_Audi',
  'brand_name_BMW',
  'brand_name_Bentley',
  'brand_name_Chevrolet',
  'brand_name_DC',
  'brand_name_Daewoo',
  'brand_name_Datsun',
  'brand_name_Ferrari',
  'brand_name_Fiat',
  'brand_name_Force',
  'brand_name_Ford',
  'brand_name_Honda',
  'brand_name_Hyundai',
  'brand_name_ISUZU',
  'brand_name_Isuzu',
  'brand_name_Jaguar',
  'brand_name_Jeep',
  'brand_name_Kia',
  'brand_name_Lamborghini',
  'brand_name_Land',
  'brand_name_Lexus',
  'brand_name_MG',
  'brand_name_Mahindra',
  'brand_name_Maruti',
  'brand_name_Maserati',
  'brand_name_Mercedes-AMG',
  'brand_name_Mercedes-Benz',
  'brand_name_Mini',
  'brand_name_Mitsubishi',
  'brand_name_Nissan',
  'brand_name_Opel',
  'brand_name_OpelCorsa',
  'brand_name_Porsche',
  'brand_name_Premier',
  'brand_name_Renault',
  'brand_name_Rolls-Royce',
  'brand_name_Skoda',
  'brand_name_Tata',
  'brand_name_Toyota',
  'brand_name_Volkswagen',
  'brand_name_Volvo',
  'car_age',
  'seller_type_Dealer',
  'seller_type_Individual',
  'seller_type_Trustmark Dealer',
  'fuel_type_CNG',
  'fuel_type_Diesel',
  'fuel_type_Electric',
  'fuel_type_LPG',
  'fuel_type_Petrol',
  'transmission_type_Automatic',
  'transmission_type_Manual']}

In [103]:
final_df.columns

Index(['km_driven', 'mileage', 'engine', 'max_power', 'seats',
       'brand_name_Ambassador', 'brand_name_Audi', 'brand_name_BMW',
       'brand_name_Bentley', 'brand_name_Chevrolet', 'brand_name_DC',
       'brand_name_Daewoo', 'brand_name_Datsun', 'brand_name_Ferrari',
       'brand_name_Fiat', 'brand_name_Force', 'brand_name_Ford',
       'brand_name_Honda', 'brand_name_Hyundai', 'brand_name_ISUZU',
       'brand_name_Isuzu', 'brand_name_Jaguar', 'brand_name_Jeep',
       'brand_name_Kia', 'brand_name_Lamborghini', 'brand_name_Land',
       'brand_name_Lexus', 'brand_name_MG', 'brand_name_Mahindra',
       'brand_name_Maruti', 'brand_name_Maserati', 'brand_name_Mercedes-AMG',
       'brand_name_Mercedes-Benz', 'brand_name_Mini', 'brand_name_Mitsubishi',
       'brand_name_Nissan', 'brand_name_Opel', 'brand_name_OpelCorsa',
       'brand_name_Porsche', 'brand_name_Premier', 'brand_name_Renault',
       'brand_name_Rolls-Royce', 'brand_name_Skoda', 'brand_name_Tata',
       'brand_name_Toyota', 'brand_name_Volkswagen', 'brand_name_Volvo',
       'price', 'car_age', 'seller_type_Dealer', 'seller_type_Individual',
       'seller_type_Trustmark Dealer', 'fuel_type_CNG', 'fuel_type_Diesel',
       'fuel_type_Electric', 'fuel_type_LPG', 'fuel_type_Petrol',
       'transmission_type_Automatic', 'transmission_type_Manual'],
      dtype='object')

In [104]:
import json
with open('col_dict.json','w') as file:
    json.dump(col_dict,file)

In [105]:
import pickle
with open('model.pkl','wb') as file:
    pickle.dump(knn,file)